[2017-02-20 08:06] vflyson opened #1 "Make it possible to include and use the thing as a library"
What for? Don't know yet.

[2017-02-20 08:07] snshn opened #2 "Make it parse CSS as well, replacing url(...) with url(data:...)"
That shall include stuff within style=""

[2017-02-20 08:09] snshn opened #3 "Start using minimizers for HTML, JS and CSS to save space"
Make an option to disable them in case somebody would like to decode base64 at some point and dig through plaintext assets

[2017-02-20 08:13] snshn opened #4 "Ditch sync-request and make the whole codebase asynchronous"
... somehow

[2017-02-20 08:19] vflyson commented on #1
I guess it works

[2017-02-20 08:19] #1 closed

[2017-02-20 08:45] vflyson opened #5 "Certain websites don't get retrieved at all"
- [x] https://cr.yp.to/djbdns/axfr-notes.html
 - [x] http://blog.checkpoint.com/2016/11/30/1-million-google-accounts-breached-gooligan/

[2017-02-27 07:54] snshn opened #6 "Add option to isolate pages"
Injecting `<meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline' data:;">` as the **first** node within `<head>` should prevent browsers from requesting any remote resources from within saved pages.

[2019-08-23 04:53] vflyson opened #8 "Incorporating an option for following links within the same domain to a certain depth"
Suggested by HN user ajxs, source: https://news.ycombinator.com/item?id=20774594

[2019-08-23 06:16] dibstern commented on #8
+1, this is what would make this the tool that I need

[2019-08-23 06:40] cottsak opened #9 "add option to send headers/cookies"
It would be great to use this as a final step in a selenium scrape or other browser driver which may require session state. Then this could pick up the final step (session included) and dump the desired result.

[2019-08-23 07:39] schickling opened #11 "Pre-build binaries + support for package managers like Brew"
Would be great to pre-build binaries and support for package managers like Brew, apt, ...

[2019-08-23 08:32] cbluth commented on #5
* [x] `https://cr.yp.to/djbdns/axfr-notes.html`

^^ this seems to work now.

[2019-08-23 08:39] vflyson commented on #5
Oh, this was a bug report for the previous version/prottoype (in Node.js, from 2017).
I'm glad that Rust's `reqwest` library is a trooper and handles things that Node's libraries couldn't. Thanks for checking!

[2019-08-23 08:42] vflyson commented on #5
Both of them now work. The second link just has a million assets, it takes like 30+ seconds to retrieve them all (since `monolith` right now is not async when it comes to retrieving assets). Closing the issue, thank you for the comment @cbluth

[2019-08-23 08:42] #5 closed

[2019-08-23 08:49] nscooling opened #13 "Timeout causing panic"
With a slow/unreliable internet connection then keep getting this error:
[code]

[2019-08-23 08:53] vflyson commented on #13
Thank you for the heads up, I'll try to increase the default timeout as well as handle this panic better.

[2019-08-23 09:25] vflyson commented on #13
Merged #15 in, should be better on slow connections now, but I think the only way to completely resolve this issue would be to handle failing download attempts in a safe manner (e.g. continue retrieving other assets if one fails).

[2019-08-23 10:25] nscooling commented on #13
Thanks, it handling some but still timing out of others

[2019-08-23 12:39] logix2 opened #16 "Doesn't seem to handle lazy loaded images"
Example URLs:
[https://appelsiini.net/projects/lazyload/fadein/](https://appelsiini.net/projects/lazyload/fadein/)
[http://jquery.eisbehr.de/lazy/example_basic-usage](http://jquery.eisbehr.de/lazy/example_basic-usage)

These are the only 2 URLs I actually tried  to see if Monolith can handle lazy loading, and it fails for both.

[2019-08-23 15:51] mattl opened #17 "Doesn't save images on this page?"
https://stevie.boston/WebObjects/Flipper.woa/wa/

[2019-08-23 16:13] vflyson commented on #17
It worked for me, the resulting file ended up being 19M in size since many of them are GIFs. Did you see a timeout message or some sort of error in the terminal, or the images just couldn't render when you opened the page?

[2019-08-23 16:58] dandavison opened #19 "Example of a page that doesn't work"
http://acko.net/blog/how-to-fold-a-julia-fractal/ doesn't seem to work. On loading the monolith output I see errors like this in chrome:

<img width=100px src="https://user-images.githubusercontent.com/52205/63609667-61e4f900-c58c-11e9-894e-f637fd58d847.png" alt="image" />
<img width=600px src="https://user-images.githubusercontent.com/52205/63609432-061a7000-c58c-11e9-87c5-8e38239895a6.png" alt="

[2019-08-23 17:14] karanchawla opened #20 "API for monolith"
Is it possible to create an API endpoint where you send the website link to the endpoint and it returns the html page so that you can save this on the server?

For example:
`[GET] domain.monolith.com/savepage?link=www.targetwebsite.com`

If there is interest in this, I would love to contribute.

[2019-08-23 17:37] vflyson commented on #20
This could be done relatively easy with any web server, although perhaps monolith could be enhanced to be a Rust crate itself (aside from its CLI interface), letting other Rust programs pull monolithic web pages directly, if needed.

[2019-08-23 19:26] mattl commented on #17
./monolith https://stevie.boston/ > stevie3.html -- 21K file.
./monolith https://stevie.boston/WebObjects/Flipper.woa/wa/ > stevie2.html -- 21M file.

So is it not handling the redirect correctly?

[2019-08-23 20:17] vflyson commented on #17
It seems to be definitely a bug in monolith. The original URL (https://stevie.boston/) is currently being used to compose the full URL to retrieve assets on this page https://stevie.boston/WebObjects/Flipper.woa/wa/ which results in images being retrieved as 404. I'm looking into how best solve this issue with redirects and URL resolution, thank you for the extensive info @mattl

[2019-08-24 00:25] bmix opened #26 "XML serialization"
Hello,

great project!

Wouldn't serialization as XHTML5 add to the aspect of "ease of use" and "archival" by allowing to place queries against the static X(HT)ML files using XPath utilities like Saxon, BaseX or Xidel? That would make a dream come true, for me.

[2019-08-24 00:32] howardm commented on #11
I second this request.

It would be great for folks like me not sufficiently familiar with the app installation process, etc.

Howard

[2019-08-24 03:10] jmb12686 opened #29 "Install / Build failure for openssl-sys - Included Resolution"
When following the install instructions, I received the following error during the cargo install:

[code]

I was able to resolve by installing libssl-dev on my Ubuntu env (Win10 WSL Ubuntu 18 LTS to be exact):
[code]

Install was successful after this.  I'm a newb with respect to Rust and the ecosystem, but this documentation may help others experiencing the same issue.  Maybe it would be a good i

[2019-08-24 04:21] tarvos21 opened #30 "Build failed on macOS"
[code]

Any idea on the problem? Thanks!

[2019-08-24 04:34] vflyson commented on #19
Thank you for the report. I was able to save and open the page in both Chrome and FF, both with JS on and off (`-j`). When JS is on it attempts to access some resource it apparently doesn't have access to due to some security policy. The static content of the page is viewable, but since it's a heavily JS-based page, I'll need to resolve the issue with embedded JS not working properly before it can

[2019-08-24 04:44] vflyson commented on #30
I was able to build it on macOS.

here's my `uname -v`:

and `cargo -V`:

could you please check if you have the latest version of cargo?

[2019-08-24 08:08] nixsiow commented on #30
Yup, I was able to build it on macOS as well.

Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64

cargo 1.37.0 (9edd08916 2019-08-02)

[2019-08-24 09:55] I-Al-Istannen opened #32 "Rewrite "srcset""
## Problem
Sites can use the [srcset](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-srcset) attribute to specify an image's source. This tag is not rewritten, causing the monolith-ed pages to still perform a network request and rely on the remote server.

## How to reproduce
Copy the following HTML into a file and serve it (e.g. via `python -m http.server 8080`).
Then run mono

[2019-08-24 12:16] antonioaguilar opened #33 "Add a verbose flag to track large site downloads"
Nice tool but it needs more work. Add a verbose flag to track large site downloads.

[2019-08-24 16:01] vflyson commented on #32
Thant's such a good submission, thank you.

I've just implemented support for `srcset` within `source` children of `picture` tags, will take care of `srcset` within `img` tags next, including those that contain a list of images, rather than just one.

[2019-08-24 16:37] vflyson commented on #33
Thank you for the suggestion.
What's your opinion on this style of output?
[code]

[2019-08-24 18:30] vflyson commented on #33
Merged that one in to at least have some kind of verbosity for now, as it does not affect the data sent through stdout. The format should perhaps be improved later. I'll close this issue once there's either a -v or a -s flag in place to toggle the program's verbose/silent mode.

[2019-08-25 00:19] sergiomoraes opened #38 "Could not compile 'winapi""
I'm not sure how to proceed. The build fails to compile on Windows 10.

-------
`
$ cargo --version                                                                cargo 1.37.0 (9edd08916 2019-08-02)
`

-------

`
user_@user MINGW64 ~/monolith (master)
$ cargo install --path .
  Installing monolith v2.0.11 (C:\Users\user \monolith)
    Updating crates.io index
   Compiling winapi v0.3.7
   Compilin

[2019-08-25 00:30] vflyson commented on #38
Found a possible solution, https://travis-ci.community/t/rust-error-could-not-compile-winapi/268/6
Could you please check to see if it fixes the issue?

[2019-08-25 06:05] vflyson commented on #13
I improved the code to treat all network errors as blank responses, this should help saving pages with resources that timeout or throw other kinds of errors. Please let me know if it got rid of the panic. I'm thinking of adding a `-t` option for setting extended timeout in case of slow Internet connection.

[2019-08-25 07:51] antonioaguilar commented on #33
Looks good, but thinking about it ... perhaps monolith should always output the downloading status and only use the flag to disable the verbose output, similar to what wget and curl do.

[2019-08-25 14:21] vflyson commented on #33
I too, am leaning towards adding a `-s` flag, since pulling the whole website usually takes a long time, and it's rather creepy when a program doesn't talk for a long period of time.

[2019-08-25 18:23] #33 closed

[2019-08-25 19:28] howardm opened #42 "Specifying User Agent: required & appropriate string syntax"
Hi,

I tried monlith with the following:

`monolith https://www.nytimes.com/2019/08/25/world/europe/g7-iran-trump-biarritz.html > test.html`

I got the following error message:

`error: The following required arguments were not provided:
    --user-agent <Iceweasel>`

I thought this was optional.

If not, what is an example of the proper syntax for providing this argument ?

Thanks,

Howard

[2019-08-25 20:09] vflyson commented on #42
Hi Howard,

it might've been a bug that slipped in one of the earlier versions. Could you please `git pull` the latest version and try it again?

[2019-08-25 20:48] howardm commented on #42
Hi,

O.K. I just did that.

I still get the same error message (as above).

Howard

[2019-08-25 20:54] vflyson commented on #42
You may need to run `cargo install --prefix . -f` to build the latest version and then overwrite the previous local installation of monolith. I was able to save the page you mentioned above using the latest version, here's my output:

[code]

[2019-08-25 20:56] vflyson commented on #42
I would recommend using the `-j` flag before the URL to save the page without scripts, as it seems like NYT attempts to display some modal/overlay upon page load (to sell some paid subscription or something like that).

[2019-08-25 21:00] howardm commented on #42
O.K.

Please give me the exact command(s) to type in Terminal to do this.

Thanks!

Howard

[2019-08-25 21:03] vflyson commented on #42
Sure! To update to the latest version this should do the trick:
[code]

After doing that, this should save the page and render it as a readable document while offline:
[code]

Please let me know if it worked for you.

[2019-08-25 21:14] howardm commented on #42
Great!  That worked.

I appreciate your patience.

Howard

[2019-08-25 21:18] #42 closed

[2019-08-26 15:08] thebetterjort opened #44 "certificate verify failed"
[code]

add option to ignore CA authority. eg) --insecure option

[2019-08-26 17:44] bingen opened #45 "Build failed on Linux"
I followed the instructions in the README file and I got the followting error:
[code]

I'm on a Debian based distro, using cargo 1.35.0 and using current `master` branch (commit fada788).

[2019-08-26 20:32] TheMcSebi opened #46 "Convert already saved web pages"
Can I also use this to convert Web pages I've already saved in the browser? The type of HTMLs which have a folder with the same Name next to them. This would be really useful to convert pages protected by logins.

[2019-08-27 01:20] miqueet opened #47 "When trying to download twitter.com it loops infinitely"
When trying to download twitter.com it loops infinitely

[2019-08-27 07:33] bingen commented on #45
Cool, it worked now, thanks!

[2019-08-27 09:49] radum commented on #45
1.34 fails for me, after upgrade to 1.37 works fine.

[2019-08-27 10:54] #47 closed, assigned to nobody

[2019-08-27 14:52] #44 closed, assigned to nobody

[2019-08-27 18:08] ILoveAmphetamines opened #50 "[Request] Downloading pages based on a list."
The idea would be that I would have a list of webpages that I would download.
For example, `list.text`:

This could be issued as a command such as `monolith -L .\dir\to\list.txt > .\dir\*.html`

[2019-08-28 11:53] calexicoz commented on #2
This would be a nice addition, as many sites use icon fonts (Twitter...).

Thanks for this great tool in any case :)

[2019-08-28 22:29] vflyson commented on #50
🥁

[2019-08-28 22:51] davidcstevens commented on #30
I got a different error when I tried to install, but once I updated to latest cargo it worked.

[2019-08-30 22:17] l0f4r0 opened #51 "Error while building on Debian 9"
Hello,

I'm on Debian 9 (kernel 4.19.0-0.bpo.5-amd64).
I'm following building/installation instructions via cargo but it is failing:

[code]

Question marks seem to be problematic...
How am I supposed to resolve this please?

Thanks in advance :)

[2019-08-31 00:44] vflyson commented on #51
Greetings @l0f4r0, and thank you for reporting this!

Could you please post output of your `cargo -Vv` here?
There were some build errors associated with old(er) versions of Rust. The recommended (latest stable) version of cargo is `1.37.0`. You most likely can upgrade it by running `rustup update`.

[2019-08-31 05:29] tarvos21 commented on #30
@vflyson @nixsiow @davidcstevens thanks for the info, I have uninstalled rustc and cargo, reinstalled the newest version of 1.37.0, then the building process works.

[2019-08-31 05:29] #30 closed

[2019-08-31 06:04] l0f4r0 commented on #51
Thanks for your answer!

I think you probably meant 0.37.0 (or 0.38.0) ;)

[code]

Actually, I have Debian 9 stable so I cannot update cargo so easily because there is no backport for this package (otherwise I should migrate to Debian 10).

[2019-08-31 07:41] vflyson commented on #51
It seems to be that when cargo is installed via curl, it currently ends up being of version 1.37.0, while crates.io only lists 0.40.0 for it as a package. Perhaps newer versions of cargo list rust's version instead of its own when executed with `-V`.
Here's the output that I get:
[code]
I've been recommended to remove cargo/Rust installed via package manager and obtain the latest Rust environment

[2019-08-31 14:50] l0f4r0 commented on #51
Ok, I've removed rust/cargo and installed cargo via rustup.rs.
Unfortunately, monolith building is failing as well...

[code]
It's weird because libssl-dev package is already installed on my computer:

[code]
Maybe it's a versioning problem as well?

After being released, Debian stable only takes into account new versions when there is a security risk or when there is a serious bug.

[2019-08-31 15:02] l0f4r0 commented on #51
<post in process>

[2019-08-31 15:08] #51 closed

[2019-09-01 09:31] TomOnGit commented on #11
+1. I'd like to use this project on Mac laptop, but I'm not sure how to use cargo. I tried http://macappstore.org/cargo/, but getting error (Error: Cask 'cargo' is unavailable: No Cask with this name exists.).

[2019-09-01 17:46] bmix commented on #26
Hello @vflyson,

you are right. It could be piped to an external program like ['tidy'](http://www.html-tidy.org/), '[tagsoup](http://vrici.lojban.org/~cowan/XML/tagsoup/)' or ['validator.nu'](https://about.validator.nu/htmlparser/)

I wonder what I had on mind, when requesting this feature, since I, usually use 'tagsoup' or 'validator.nu' for such purposes myself. It may have been, that I wanted e

[2019-09-01 17:46] #26 closed

[2019-09-01 23:19] vflyson commented on #26
It's all good @bmix. It could still be a useful feature, I'll keep it in my notes.

[2019-09-03 03:38] lostSail0r opened #54 "Windows Compatible ??"
Forgive me if I'm being silly, but can this work for Windows CMD ?

[2019-09-03 11:14] vflyson commented on #54
It should work, we have it successfully building on windows in AppVeyor.

[2019-09-03 14:49] alex-hofmann commented on #11
@TomOnGit

This installation method is a bit outdated. If you would like to use Homebrew, try
[code]
Using `rustup` might be a better option [Rust: Install Rust](https://www.rust-lang.org/tools/install)

[2019-09-04 13:05] aendra-rininsland opened #55 "Support cookies.txt"
`wget` and `httrack` allow use of a file called cookies.txt to facilitate things like authentication -- this would be really useful for a variety of circumstances.

[2019-09-04 15:08] diehard88 opened #56 "question: does monolith save only the target webpage?"
All links found within the page will not be accessed, correct?

Thank you.

[2019-09-05 03:08] vflyson commented on #55
This sounds like a good addition to #9
Appears to be more secure in comparison to exposing session and login data via command line

[2019-09-05 03:11] vflyson commented on #56
Hello @diehard88
I can confirm that this program currently saves only the target web page. Any and all external links will be "fixed" to become full URLs (if they aren't) e.g. if there's `<a href="another-page.html">Go here</a>` on https://some-website.net/interesting-story.html, then monolith will save it as `<a href="https://some-website.net/another-page.html">Go here</a>`

[2019-09-05 16:55] diehard88 commented on #56
@vflyson "deep save" for the "deep web"?

:eyes:

:smile:

[2019-09-08 11:02] uda commented on #45
Failed for me on `rustc 1.35` after upgrading to `1.36` (`1.36.0+dfsg1+llvm-2ubuntu1~18.04.1`) it compiled ok.

[2019-09-08 16:16] vflyson commented on #45
Since it seems to be a bug in rustc =< 1.35, fixing it in the code and putting Rust 1.35 into the pipeline would be a rather bad practice of hiding symptoms. I'll keep this thread open so that people will know they have to do `rustup update` and use the latest stable version of Rust.

[2019-09-10 12:46] KurtDeGreeff commented on #54
Would you please be so kind to publish the windows binaries?

[2019-09-10 13:08] snshn commented on #54
I'll get a VM and build it for Windows after that, will notify in this thread once it's done.

[2019-09-11 00:59] fredimachado commented on #54
I've tested it using Windows Subsystem for Linux (WSL). You just need to install WSL, open it and execute the following commands:
[code]
The commands above will take a long time to run, I'll suggest you to grab some coffee :D

After it's done you can cd to your folder (I've executed `$ cd ~` to use my home folder), you can follow the monolith instructions. And generate your HTML.

If you want to o

[2019-09-12 13:23] cbluth opened #58 "I really like monolith, so I made a thing"
I really like monolith,
and I really like ipfs,
so I made a thing that combines ipfs and monolith.
Its called PageSaver.
You can see it here: https://dweb.tools/pagesaver

Here is an example URL that you can share: https://dweb.tools/pagesaver?dag=QmVf8FqthAejRxmmRCLy9ydS77XVs5RHzHhmGzZZ9DM9ar

[2019-09-15 16:19] officialkirill opened #59 "doesn't seem to save images from CSS background url"
Looks like monolith doesn't save images that are references by URL in CSS.

Otherwise, thanks, this tool is very useful!

[2019-09-15 16:24] officialkirill commented on #59
alright, I'm no RUST programmer but I can see that monolith only loads CSS for embedding, but it should probably parse it too, if we want all the images loaded from CSS.

[2019-09-16 03:33] snshn commented on #59
Greetings @officialkirill,

Thank you for the report! I'm currently working on parsing resources linked via style attributes and stylesheets, it should be finished and merged into the master branch in a couple of weeks.

[2019-09-21 21:46] RomeuG opened #60 "Can't get images from Medium links"
I can't seem to get images from Medium links

Example page: https://medium.com/@cryptographer_/recon-in-2-minutes-and-got-250-easy-630ab426843

Command used: `monolith -kjs https://medium.com/@cryptographer_/recon-in-2-minutes-and-got-250-easy-630ab426843`

[2019-09-22 00:35] snshn commented on #60
Hello @RomeuG!

Medium seems to be using JS in order to lazy-load images. Same JS redirects the user away to some 404 template within the main content box. Go figure.

I believe you could have some luck using https://github.com/gildas-lormeau/SingleFile either as a browser plug-in or via CLI, I believe it should support Medium. I'll need to revamp monolith to use a headless browser underneath in o

[2019-09-22 06:40] #6 closed

[2019-09-22 13:30] amirouche opened #62 "Add support for `poster` attribute of `video` element"
As of right now, packing a page with a video element does not embed video (ok) but it does not embed the `poster` attribute making the page unreadable.

Here is an example for `monolith https://hyper.dev > out.html`:

[code]

[2019-09-22 16:12] RomeuG commented on #60
Thank you for your response! :-)

[2019-09-22 18:46] #62 closed

[2019-09-22 18:46] snshn commented on #62
Hello @amirouche and thank you for submitting the issue!

I've added support for the poster attribute, if you build the latest version of monolith it should work for that page. As a side note, if that particular resource is saved with `-i` it will still end up being white-on-white. You may want to add `html { background-color: #000; }` to your CSS in order to prevent this from happening.

[2019-09-22 19:08] amirouche commented on #62
Tx for the quick improvement.

I must! Thanks for hint.

[2019-09-22 21:01] #56 closed

[2019-09-29 15:02] cbluth commented on #58
@snshn

i have uploaded the code, and added a feature, you can now enter youtube URLs (it doesnt use monolith for youtube).

[2019-09-29 21:21] snshn commented on #58
This is very cool! I'd optimize it for mobile devices next as the icing on the cake. Thank you for helping save the Internet!

[2019-10-01 11:25] #17 closed

[2019-10-04 17:36] romanoff opened #66 "Any plans for recursive links save?"
Would be great if there was an ability to save all the pages that website links to as well

[2019-10-04 23:17] snshn commented on #66
Hi @romanoff
I believe this relates to #8
It's an upcoming feature that I need to think through and test thoroughly before releasing. Archiving whole website as one file could easily result in a couple hundred megabytes in size, potentially crashing the browser.

[2019-10-07 11:32] cbluth commented on #58
@snshn i have updated the code again, now with fixed youtube support.
i will close this issue, thanks for monolith@!

[2019-10-07 11:32] #58 closed

[2019-10-09 16:11] knidarkness commented on #2
@snshn I could work on this if you don't mind and that's still relevant?

[2019-10-09 16:14] knidarkness commented on #32
@snshn is that still in 'todo' state? If so, I could help with that.

[2019-10-09 16:57] snshn commented on #32
It still is, I'd gladly appreciate your help on this one.
I've looked into using regular expressions and studied servo's code but their approach seems to be too monstrous for me to use as a case for study.

[2019-10-09 17:02] snshn commented on #2
It's still relevant, yes, and any help would be extremely appreciated.
I've been looking into servo's rust-cssparser, seems like a solid library for parsing and manipulating css. Perhaps the hardest part here would be css' `import`.

[2019-10-09 21:04] knidarkness commented on #2
Okay, then I`ll do some research and will try to start on this weekend.

[2019-10-10 23:15] romanoff commented on #66
You are right. Was thinking that in case of recursive save, it would create a separate .html file for different page. But still be able to reference those pages if links are clicked. But this is just my idea how it could work. There are probably other solutions with their own benefits/downsides

[2019-10-11 11:42] snshn opened #71 "Network requests need caching"
It's redundant to request the same resource multiple times while saving the web page. Happens to be rather a rare occurrence with how today's websites include content, but it's still something that can happen (e.g. downloading the same resource for `<img />`). I believe the best place to implement it would be `http.rs`.

[2019-10-11 11:52] snshn opened #72 "Monolith needs to become an importable crate"
Aside from being a CLI tool, monolith has potential to be used as a library and published on crates.io. For this feature to be implemented we first need to design API for monolith, for the most part how we provide options (instead of parameters via CLI).

[2019-10-13 08:59] knidarkness commented on #3
@snshn , do you think that would do any significant impact? As for now most of the size is used for storing base64 values of images or other assets and there's really not to much that we could do about that, IMO?

[2019-10-13 12:05] snshn commented on #3
@knidarkness most likely not, and wouldn't be worth implementing; I think this idea crossed my mind when I was trying to plan features for monolith's prototype (originally in Node), but as the tool became more mature I obtained more feedback, and it's more likely that in order to slim output files down, monolith will need to get a max asset size flag (e.g. `monolith -m 1M https://github.com...`) t

[2019-10-13 12:05] #3 closed

[2019-10-15 20:23] voila commented on #71
Hello, I'd like to work on this.
What do you have in mind?
I am thinking of using a `HashMap<String, String>` in `http.rs` to index `response.text()` by `response.url()`.

[2019-10-16 00:31] snshn commented on #71
Hey there @voila!
Your help would be greatly appreciated on this one. Sounds like using hashmap is going to do the job. During its first prototype I used an object (it was initially written in JS), so I guess great minds think alike? Using strings for storing base64 sounds good to me. It could be cool to borrow dataURLs from that "store" to minimize the RAM footprint, but that perhaps should be a

[2019-10-22 22:33] snshn commented on #71
Resolved by #75 thanks to @voila

[2019-10-22 22:33] #71 closed

[2019-12-06 09:47] Oneideals opened #79 "error: linker `link.exe` not found"
error: linker `link.exe` not found
  |
  = note: 系统找不到指定的文件。 (os error 2)

note: the msvc targets depend on the msvc linker but `link.exe` was not found

note: please ensure that VS 2013, VS 2015, VS 2017 or VS 2019 was installed with the Visual C++ option

error: aborting due to previous error

error: could not compile `log`.
warning: build failed, waiting for other jobs to finish...
error: linke

[2019-12-06 13:01] snshn commented on #79
Hi @Oneideals

I believe this may be exactly the same problem as previously mentioned in #38

[2019-12-07 00:32] Alch-Emi commented on #8
How would this work with pages that are linked to multiple times?  Would only one link work, or would the page and every resource it links to be duplicated?

[2019-12-07 12:26] snshn commented on #8
If JS was something we could always rely on, then we'd be able to have just one dataURL link to some sub-page, with other links having something like `a href="javascript:<click the first link to this resource on the page>"`. But we can't imply JS is always on, not to mention one of the features of monolith is to strip document off JS (mostly for security and privacy reasons). Hence the only way to

[2019-12-10 22:47] #2 closed

[2019-12-10 22:47] #59 closed

[2019-12-12 13:27] jirayutza1 opened #85 "> Aside from being a CLI tool, monolith has potential to be used as a library and published on crates.io. For this feature to be implemented we first need to design API for monolith, for the most part how we provide options (instead of parameters via CLI)."
_Originally posted by @jirayutza1 in https://github.com/Y2Z/monolith/issues/72#issuecomment-565005969_

[2019-12-12 14:17] #85 closed

[2019-12-21 20:39] sYnfo opened #89 "Minimize images"
Are you planning to add an option to minimize/optimize images in addition to turning them off completely?

Thanks for creating this, by the way, it's super useful!

[2019-12-21 21:39] snshn commented on #89
The idea I currently have in mind regarding file sizes is to have a default max file size, applicable to all types of media (audio, video, images), and then either minimize (images) or exclude (audio/video) files that exceed that limit. The files size limit will be adjustable via flags.

[2019-12-23 09:19] rajdeepbharati opened #90 "Doesn't save images for google.com"
Run this:
[code]
This is how my downloaded page looks like (it doesn't have images and some other assets).
![Screenshot 2019-12-23 at 2 46 39 PM](https://user-images.githubusercontent.com/30660439/71348683-13c02080-2593-11ea-8110-b04e0d075824.png)

[2019-12-23 18:54] snshn commented on #90
Hi there,

it's been fixed in the latest release (2.1.0).
It seems like the version available on brew is still 2.0.16. I'll work on updating it there.

Thank you for the report!

[2019-12-24 19:59] rajdeepbharati commented on #90
Thanks

[2019-12-24 19:59] #90 closed

[2019-12-24 21:04] snshn commented on #90
if you do `brew upgrade monolith` you should get 2.1.0 on your machine now, that'll let background images to be properly embedded

[2019-12-25 21:43] snshn commented on #16
Hi @logix2

thanks to @Alch-Emi's efforts, if you use the latest code from the `master` branch, both of those URLs now will get saved with high-res images embedded, both with and without JS (the `-j` flag). Please let us know if it works now. Thanks for reporting the issue!

[2019-12-26 05:56] snshn commented on #4
this would be a lot of work, at the same time doesn't solve any real problems while providing only benefit of saving pages slightly faster; no need to create a problem where there isn't any

[2019-12-26 05:56] #4 closed

[2019-12-26 07:57] rhysd opened #93 "CSS is broken after #78 (Load URLs in CSS and style attributes)"
## Pre-condition

- monolith: 295931041c6fd8fb015d351c4832b3d42fcb48d0
- Rust: 1.39.0
- macOS: 10.14

## Repro

[code]

## Expected behavior

Opened HTML page looks the same as https://github.com/rhysd

## Actual behavior

Page is broken:

![スクリーンショット 2019-12-26 16 55 50](https://user-images.githubusercontent.com/823277/71465680-9e598780-2800-11ea-9a3a-0ab4dd717e2f.png)

I pasted the generated HTM

[2019-12-26 13:57] snshn commented on #93
Hi @rhysd

thank you very much for reporting this! What seems to be happening is the `integrity` on those links is now doesn't match their contents (since we alter the CSS by embedding images and fonts into them). I'll make a hotfix right now, please feel free to pull and update monolith on your end once this issue is marked closed.

[2019-12-26 15:11] #93 closed

[2019-12-26 16:09] rhysd commented on #93
Thank you for quick fix! I confirmed #94 fixed this issue on my side :+1:

[2020-01-07 20:47] Alch-Emi opened #99 "[ADR-Proposal] Architectural Redisgn, move towards OOP & isolation of responsibilities"
# ADR-XXXX: Use OOP for parsing framework #
**Date:** 2020-01-07

## Status ##
Proposed

## Context ##
Currently, `monolith`'s architecture is a bit, well, monolithic.  The vast majority of functionality is all packed together in very few functions.  On top of this, these functions are the same functions responsible for making HTTP requests, which makes them very difficult to test.  Most functions

[2020-01-08 06:34] snshn commented on #99
Thank you for this, Emi. I need to study the proposal a bit more before I'm able to respond, I'll do so before the end of the week.
So far I can tell that the code definitely must be overhauled in order to make it possible to convert not only remote but also local (fs) documents into monolithic HTML files. There's also a need to make monolith work as a library so that we could offer a GUI version

[2020-01-10 20:14] Alch-Emi commented on #89
Another approach  to this might be using `webp` to re-encode and optimize images for size.  While PNGs are still the dominant format, webp can often be a lot smaller, especially with compression set high enough.

This PNG image:
![GitHub Imagey thing][1]
compresses from 83K to 36K [41%] with the strongest level of *lossless* webp compression, and even more so to 24K [29%] at 60% quality lossy.

Co

[2020-01-13 19:57] jhochman opened #103 "Feature: support for HTTP/S proxy"
Would be great if it supported HTTP_PROXY/HTTPS_PROXY environment variable to make it work with a proxy server. Thanks!

[2020-01-13 22:47] snshn commented on #89
I think it's a good idea to have images converted into one lossless format that takes up the least amount of space, as long as it's supported by all major browsers and if there are no issues like patents surrounding webp.

[2020-01-14 07:02] snshn commented on #103
Hi Josh,

thank you for reporting this!

Judging from https://github.com/seanmonstar/reqwest/blob/master/tests/proxy.rs#L20 it could be as little as a couple lines of code to implement this

[2020-01-20 07:37] rhysd commented on #103
I have experience to support HTTP proxies with reqwest library. Let me have a try.

[2020-01-20 08:07] rhysd commented on #103
I have created PR for this: https://github.com/Y2Z/monolith/pull/106

[2020-01-20 23:36] #103 closed

[2020-01-22 03:07] rhysd opened #110 "Put pre-built executables in releases page"
Hi,

This tool requires building from source to install. However, it requires Rust toolchain and it is sometimes hard for people. For example, those who are not familiar with Rust need to know Rust toolchain such as `cargo` only for installing this tool. And for another example, Windows user may need to prepare entire build toolchain for installing this tool because Visual Studio is not installed

[2020-01-22 06:21] snshn commented on #110
Hey there,

pre-built binaries were requested by multiple people while monolith was featured on HN, I believe it's still true that there's a certain level of demand for that method of obtaining the program. That group of lost users is sadly not visible. If it's possible to automate inclusion of those binaries, then I agree that it's definitely worth setting up.

Thank you for the links! I'll go th

[2020-01-22 07:08] rhysd commented on #110
Thank you. I did not intend to make you rush. So please try it when you are not busy :)

When generating a personal access token, please ensure that it has `public_repo` permission. Since keys for encrypted variables are secure, pasting them in a comment in this issue should be ok.

[2020-01-23 15:10] loreb opened #112 "leave html entities untouched, it breaks pages with weird encodings"
Example: http://www.the-spoiler.com/RPG/New.World.Computing/might.and.magic6.3/mm6.htm
Look at the copyright, it's `"&copy;"` in the original, monolith translates that to the utf8 copyright character which is wrong because that page says `charset=iso-8859-1"` so it renders to a bogus character + the copyright sign (tested on windows/linux/openbsd).

I did meet other pages like that, this is just t

[2020-01-23 15:25] snshn commented on #112
Hi Lorenzo,

Thank you very much for reporting this. It's likely the result of html5ever (the HTML parsing library we're using) treating every document as utf-8 by default and not automatically parsing that charset meta tag.

More info on the likely cause:
https://github.com/servo/html5ever/issues/18

If there's no flag available to preserve html entities, it'll likely be worth substituting those

[2020-01-23 15:32] loreb commented on #112
Ouch, a five year old bug... well, thank you for the info and the quick reply!

[2020-01-28 05:19] #16 closed

[2020-01-30 12:57] jarmo commented on #11
Just installed it using brew and it is also stated in the [README](https://github.com/Y2Z/monolith/blob/master/README.md) that Snapcraft can be used on Linux.

I guess that this issue is resolved then?

[2020-01-30 13:26] snshn commented on #11
Hey there @jarmo, I'll close this one when #110 is resolved, since the title of the issue mentions pre-built binaries. 🙂

[2020-01-31 06:09] snshn commented on #13
@TerminusBot it happens for the very first request, right?

[2020-01-31 13:19] snshn commented on #13
I'll look into it this weekend, thank you for the info

[2020-02-02 14:53] JokerQyou opened #113 "HTML differs per platform"
I encountered this very strange phenomenon. I have 2 platforms: a Linux server, and a macOS laptop.

Now for this URL: `https://www.sohu.com/a/347860063_120094087`. I saved HTML files with monolith `2.1.2` using the same command:

[code]

Now this is strange: the HTML saved on macOS, you can read the whole article. But for the HTML saved on Linux, there is a `read more` button in the middle, and t

[2020-02-03 05:41] snshn commented on #13
@TerminusBot I've added a new flag (`-t/--timeout`) and bumped the timeout to be 30 seconds by default. I believe that should resolve this problem once and for all. Please let me know if 30 seconds is enough.

[2020-02-03 05:47] snshn commented on #113
This is very peculiar... thank you for reporting this (I love puzzles!) Thankfully I have both GNU/Linux and macOS to recreate the scenario, I'll try it now and see what I get.

[2020-02-03 06:56] snshn commented on #113
After trying to reproduce the behavior, I have to say that I failed to get different outputs from monolith on macOS and GNU/Linux: the document gets saved with the rest of the article hidden on both OSs. I'd like to recommend saving it with the `-c` flag, that way the page would lose its style, but as a side-effect you'll be able to see all its text (usually works fantastic for articles paywalled

[2020-02-03 10:41] JokerQyou commented on #113
The diff is rather large.

![image](https://user-images.githubusercontent.com/1465267/73646294-1ba3d200-46b4-11ea-8dad-ea4503954972.png)

In case it helps, I've attached all the files. Diff command was `diff macos.html linux.html > diff.txt`.

[diff.txt](https://github.com/Y2Z/monolith/files/4147410/diff.txt)
[html_files.zip](https://github.com/Y2Z/monolith/files/4147412/html_files.zip)

The Linux

[2020-02-03 11:00] JokerQyou commented on #113
I think I have figured it out. My macOS laptop connects to this website directly, from China. But my Linux server does not. This website seems to put a `read more` button for foreign visitors only. If I force macOS to use proxy, the resulted HTML file also contains this `read more` button.

Glad to know monolith honors `HTTP_PROXY` env var, though.

[2020-02-03 11:00] #113 closed

[2020-02-04 12:05] JokerQyou opened #116 "Logo of CN NewYork Times missing"
The logo of CN NewYork Times is wrapped inside an SVG element. I don't know why they make it that way, but this results in missing logo in isolated HTML.

The live version, with normal logo:

![image](https://user-images.githubusercontent.com/1465267/73743256-16fd1d80-4789-11ea-8461-3a9e58e850ed.png)

Saved isolated HTML, with missing logo image:

![image](https://user-images.githubusercontent.com

[2020-02-04 15:06] snshn commented on #116
Oh, that's very interesting... looks like the xlink:href needs to be parsed and converted into a dataURL. I'll look at what other attributes SVGs require to be parsed and fix this. Thank you for the report, @JokerQyou!

[2020-02-05 02:59] JokerQyou commented on #116
Oh it's not `xlink:href`, that image has already got `src`.

[2020-02-05 03:34] smessing opened #117 "Cannot build for raspbian (Raspberry Pi 3B+)"
Following the instructions to build this myself and I'm seeing:

[code]

Apologies if I've missed something obvious, this is my first time using `cargo`.

[2020-02-06 04:48] snshn commented on #117
Hi Samuel,
I'm trying to figure out what's causing this, have a spare RPi 3B+ to reproduce the error. Thank you for reporting this.

[2020-02-07 00:51] smessing commented on #117
Awesome! Thank you. I'm pretty new to Rust/Cargo but let me know if I can do anything to help.

[2020-02-11 02:13] #13 closed

[2020-02-11 02:14] snshn commented on #13
@TerminusBot I bumped it to 120 seconds, that seems to be what Chrome and FF are doing regarding network request timeout. If you do `-t 0` it'll be infinite. Please let me know if there's anything else that I could improve!

[2020-02-16 15:25] snshn commented on #110
More like 24 days rather than 24 hours later, but here's what I have so far:

Encrypted AppVeyor token:

    +WxRHJ6YaCJfzCZMGZ+G40TrGOi4DnXpI6Sbb/T/f1R2HwP6zoiU9iqxeDq9g7Za

Encrypted Travis token:

    j2AXkuwn98/jkIPeQARw37lRehcd/CtWPKpW2ZjMOGFdiNhP7ggLXstaAi/PgYs+0/HgmTtJvEj0wJz0gtro1UUw1zWyaZWJ1i5jS2eg7ykjmsTUbULrZiAPd5tyDkRkn3QPLRiqrlmQ1wzlt3ueQnbsd/BEklJ2MDw6NM3JmV4vrw/BX6mrjnCYuJtW/yVFKoii

[2020-02-17 05:23] snshn commented on #117
Hi there Samuel,

I was able to build monolith from the master branch on raspbian with no errors. I used rustup and had to install libssl-dev.
The error that you're getting is likely related to some sort of network issue when cargo tries to retrieve the needed crate. I found a couple of similar issues for other rust projects and that's what people seem to suspect regarding this kind of errors, htt

[2020-02-27 03:32] snshn opened #126 "Monolith needs a man page"
Since it's already using `clap`, it may be possible taking this approach https://rust-cli.github.io/book/in-depth/docs.html

[2020-02-28 11:43] grerrg opened #128 "installation: add a dockerfile"
add an option to run monolith in docker. something like [this](https://raw.githubusercontent.com/grerrg/container-monolith/master/Dockerfile):
[code]

[2020-03-03 06:28] snshn commented on #128
Hey @grerrg, when you get a minute, please let me know if #129 is any good

[2020-03-05 08:25] dorneanu commented on #55
+ 1

I think this is would be definitely a cool feature since I also want to save web pages that need me to login first (paywalls e.g.)

[2020-03-05 10:08] #128 closed

[2020-03-06 15:16] lutskanu opened #131 "Support local bundling"
I have html-page, save locally, f.e.:
[code]

Is it real to support building bundle in single file with this page?

[2020-03-06 20:34] snshn commented on #131
Greetings Sergey,

That's been on the list of must-have features for a long time and is finally the next thing I'm going to implement for this project. I will give an update here as soon as it's in `master`.

[2020-03-10 11:57] grerrg commented on #89
Let's not forget the purpose of this tool is to archive and not alter the content.

Imho turning images off is a good idea but doing some image optimization isn't. I'd rather have the original information than saving 2mb per page.

[2020-03-11 06:50] snshn commented on #89
@grerrg what you're saying sounds very reasonable. I rather follow the Unix philosophy and keep this tool as lightweight as possible. The idea of squeezing bytes out of archived pages still seems to be appealing, perhaps it could be done by running some other tool after the page's saved. Outside of the scope of this program, closing.

[2020-03-11 06:50] #89 closed

[2020-03-20 01:22] sogaiu commented on #54
FWIW, building and running worked here without WSL.

[2020-03-21 22:11] bwestergard commented on #117
I'm encountering the same issue.

[code]

[2020-03-22 17:38] lumotroph commented on #131
Ooooh this would make my day! Please let us know as soon as it's usable!

[2020-03-22 21:18] #46 closed

[2020-03-22 21:18] #131 closed

[2020-03-22 21:20] snshn commented on #131
The latest code in master as of now supports working with local files on all 3 major OSes. I'll write more tests and polish the code a bit, then make a new release (2.2.0), in a day or so it'll be available via homebrew and snapcraft.

[2020-03-22 21:21] lumotroph commented on #131
Fantastic! Great work, thank you.

On Sun, 22 Mar 2020 at 23:20, Sunshine <notifications@github.com> wrote:

--
Duncan Cosser - (+27)848009957

[2020-03-22 21:22] snshn commented on #46
It took me way longer than I anticipated, but as of now the code in the master branch supports working with local assets on all major OSes. Will make a new release shortly.

[2020-03-24 06:12] lutskanu commented on #131
Thank you so much!

[2020-03-25 23:10] Tragen commented on #54
Can you share the binaries?

[2020-03-26 02:46] sogaiu commented on #54
I don't know if it needs any extra dlls, but you can find a copy of at least the .exe I got at:

https://github.com/sogaiu/monolith/raw/master/monolith.exe

The sha256 checksum I got for it is:

6eb844d63ae787086964c17390917e5e0640b6c1ada7e04e578c1dec0a3ea1c5

[2020-03-26 10:25] Tragen opened #139 "Cloudflare DDOS protection"
With Cloudflare DDOS protected sites, I only get this screenshot.

![image](https://user-images.githubusercontent.com/1700241/77636350-42fc7a00-6f54-11ea-9a01-6269463dfe5b.png)

What can I do about that?
Could you wait for one redirect or 10 seconds and reload the page?

[2020-03-26 10:31] Tragen commented on #54
It works. Thank you so much.
How did you build it on Windows? Do you have a batch to compile it? What did you do?

[2020-03-26 11:36] sogaiu commented on #54
Glad it worked :)

The command I used to compile was `cargo build --release` via `cmd.exe`.

It's possible that the toolchain used may be relevant.  At some point it had the setting `stable-x86_64-pc-windows-gnu`, and unfortunately, this didn't work in another project.  So I set it to: `stable-x86_64-pc-windows-msvc` using the `rustup toolchain` subcommand [1].  That seemed to help so I left it at

[2020-03-27 06:57] snshn commented on #139
Hi there @Tragen, thank you for reporting this!

I wasn't aware of Cloudflare getting in the way of monolith, but it's only logical, since I know scrapers often bump into that page. Monolith doesn't act as a browser on its own, it rather operates by pulling assents directly (the same way curl or wget does). I'm fairly certain Cloudflare uses JS to redirect from that page, hence it's unlikely to be

[2020-03-27 10:43] Tragen commented on #139
Thanks for your response.
I'm using SinglePage since months. ;)
I also don't have a solution how it could work.
Extracting cookies sounds like more work than it's worth but I would give it a try.

[2020-03-27 12:36] snshn commented on #139
I'd try saving the page locally using your browser as .html + assets, and then using monolith on that -- the code in master works with file://// (e.g. `monolith local.html -o local-monolithic.html`). I'm currently preparing the aforementioned 2.2.0 release which includes that functionality.

[2020-03-27 14:43] Tragen commented on #139
Great to hear.
That sounds like combined solution with wget or curl to spider a page.
SinglePage does that already.
I will see if I can get it running automatically.

Can you also provide a windows build?

[2020-03-30 07:53] snshn commented on #139
As my next task for the project, I will set up the CI/CD to add builds automatically for all 3 OSes upon creating a release. ...after I'm finished with the current CSS work for 2.2.1 in #140

[2020-04-05 19:04] snshn commented on #110
Now it's done. It's using GitHub Actions and currently uploads newly built monolith.exe as an additional artifact to every new release.

[2020-04-05 19:04] #110 closed

[2020-04-05 19:08] snshn commented on #54
It is done, from now on the CI/CD pipeline will have the latest `monolith.exe` automatically built and attached to every release. Please feel free to grab the latest one from here: https://github.com/Y2Z/monolith/releases

[2020-04-05 19:08] #54 closed

[2020-04-05 19:19] snshn commented on #79
As of today you can grab `monolith.exe` from the Releases page, there's a pipeline in place to build and attach the latest executable to every new release.

[2020-04-05 19:19] #79 closed

[2020-04-05 19:21] snshn commented on #38
Please go ahead and grab `monolith.exe` from the Releases page, it's built and uploaded automatically with every new release.

[2020-04-05 19:21] #38 closed

[2020-04-05 19:24] snshn commented on #11
As of now it's all done, monolith can be installed via Snapcraft, Homebrew, and there's a Windows executable being attached to every new release on the Releases page. Not sure about apt, maybe somewhere further down the road.

[2020-04-05 19:24] #11 closed

[2020-04-08 09:27] #45 closed

[2020-04-08 09:31] snshn commented on #117
I was able to cross-compile monolith on my Ubuntu machine using Cargo's built-in cross-compilation functionality:

[code]

Could you please let me know if you're able to run the binary compiled that way on your Pi? If so, I'll include that into the CI/CD pipeline to release RPi artifacts along with Windows builds.

[2020-04-08 13:04] rw1nkler opened #154 "Wrong website conversion"
Unfortunately, I figured out that some websites are converted incorrectly. Here is an example for the [SymbiFlow project website](https://symbiflow.github.io/):

Original website:
![original](https://user-images.githubusercontent.com/52699314/78786939-d8aef500-79a9-11ea-9696-a3aff9a3e49d.png)

Converted website:
![converted](https://user-images.githubusercontent.com/52699314/78786942-db114f00-79a9

[2020-04-08 22:19] #154 closed

[2020-04-08 22:21] snshn commented on #154
Hi there Robert,

Thanks a lot for reporting this!

Found what was causing the issue... turned out to be my boo-boo -- a bug in the CSS parser. Created a unit test and fixed it. It's now in master, will make a new release with that fix in a couple of hours, should be available on Homebrew in a day or two after that.

If you see more websites that get saved incorrectly, could you please post links

[2020-04-08 23:40] #117 closed

[2020-04-10 20:25] rw1nkler commented on #154
Thank you for your quick response! All my problem has been resolved

[2020-04-13 06:00] snshn commented on #139
@Tragen you should be able to grab the windows binary from every release page, the latest as of now is this one: https://github.com/Y2Z/monolith/releases/tag/v2.2.3

[2020-04-22 21:59] LiveDuo opened #166 "CLI downloads mobile version only"
I want to download the following site with Monolith. The CLI, although it works very well with some sites, there are still sites that are downloaded as mobile versions.

[https://gatsby-lander.surge.sh/](https://gatsby-lander.surge.sh/)

I already tried to loaded the page in a iframe and then saved to a file with [Monolith of the Web Chrome extension](https://github.com/rhysd/monolith-of-web) and

[2020-04-23 03:20] snshn commented on #166
Hi Andreas,

I'm not entirely sure what you mean by "mobile version", can I ask to please clarify that? You may be referring to how some websites output different HTML based on User Agent -- there's an option in monolith to provide any user agent string you want. https://gatsby-lander.surge.sh/ got saved exactly in the same form as I'm seeing it in Firefox while I was testing. Maybe you could uplo

[2020-04-23 03:24] snshn commented on #166
It seems like that website's JavaScript redirects the browser to `/` once the page loads, which in case of opening that file locally will always redirect to this: `file:///`. I used `monolith -Ij ...` to save it without JavaScript, hence why it did not cause any issue when I opened the file.

[2020-04-28 13:08] #29 closed

[2020-04-28 13:09] #166 closed

[2020-04-29 01:41] smhmd opened #169 "Automatic Output Name from `<title>`"
`monolith http://www.example.com/ --some-flag` to automatically save to `Example\ Domain.html`

default to `<title>` as the output file's name with a configurable format (case, components such as `{{todaysDate}} - {{title}}.html`) in config file `$HOME/.config/monolith/config`.

[2020-05-01 00:01] #116 closed

[2020-05-13 18:26] lukas-mertens opened #175 "Download pages with untrusted ssl"
Sometimes it is useful to download websites with untrusted ssl, e.g. during development, for archiving abandoned sites with expired ssl certificates etc. Especially the last use case is very important, as an expired ssl certificate is a big sign, that the site could go down in the future. That doesn't work in the current version though:

[code]

My proposal would be, to add a command line flag, to

[2020-05-13 19:44] snshn commented on #175
Could you please try running monolith with the `-k` flag and let me know if it solves the issue?

[2020-05-17 18:26] #32 closed

[2020-05-17 19:51] snshn commented on #117
The [latest release](https://github.com/Y2Z/monolith/releases/tag/v2.2.6) includes a prebuilt binary for Raspberry Pi. I tested it on mine RPi 3B+, it works fine.

[2020-05-17 22:40] snshn commented on #175
I assume using the `-k` flag has worked, please let me know otherwise and I'll reopen this issue.

[2020-05-17 22:40] #175 closed

[2020-05-18 07:34] lukas-mertens commented on #175
Hey, sorry for the late reply. Yes, it works! I can't believe that I was too stupid to find that in the docs. I actually read the docs first, but it seems like I skipped it. According to git blame it was already in the documentation 9 month ago... I mean, wtf? Am I in a parallel universe or something? It's very clearly documented, I can't believe I missed it... SORRY for the stupid issue!

[2020-05-18 08:24] snshn commented on #175
It's all good, please don't worry. That option is very hard to describe and I myself remember having hard time finding it in curl and wget, since there's a million different descriptions and use-cases that that option may have. Glad it worked out well for you!

[2020-05-30 02:41] mfaughn opened #180 "Is it possible to point monolith at local files?"
Just wondering if it is possible. It would be nice if it could. I'm trying it and getting an error.

[code]

`test.html` is as simple as possible:
[code]

[2020-05-30 06:46] snshn commented on #180
Monolith does support both local fs paths and file: URLs, the error message seems to indicate that it wasn't able to write to test2.html. Could you please try running `RUST_BACKTRACE=full monolith ./test.html >> test2.html` instead, for comparison? And thank you for reporting this.

[2020-05-30 13:13] mfaughn commented on #180
Same result.  I diff'ed the stack trace w/ the first one and only the addresses are different.

[2020-05-31 01:03] snshn commented on #180
Thank you for checking that. From the log it seems that you're running monolith on macOS. May I ask if you installed monolith via brew or via cargo?

[2020-05-31 10:08] mfaughn commented on #180
via brew.

Thanks for looking into this.

[2020-06-01 04:33] amozlyw commented on #180
Just adding on, since I also faced this exact error while trying to run this on Windows using the compiled Windows binary from:https://github.com/Y2Z/monolith/releases v2.2.6.

[code]

I tried downloading the monolith.exe for v2.2.2 and was able to run it successfully without any errors.

Hope that helps?

[2020-06-01 09:58] snshn commented on #180
@mfaughn @amozlyw
The bug has been fixed in [v2.2.7](https://github.com/Y2Z/monolith/releases/tag/v2.2.7), please give it a couple of days to become available via Homebrew. Thank you for notifying of the issue and helping me patch it.

[2020-06-01 09:58] #180 closed

[2020-06-10 00:28] whalehub commented on #117
@snshn Can you also make the pipeline make and upload an x86_64/AMD64 executable with every new release?

[2020-06-14 13:38] whalehub commented on #117
@snshn Thanks! I'd love to add support for monolith in [ginstall.sh](https://github.com/whalehub/ginstall.sh) once that's done.

[2020-07-09 23:17] billforsternz opened #198 "Readme page installation doesn't mention Windows"
There are installation instructions for MacOS and Linux. At first blush I assumed Monolith didn't work in Windows. Then I noticed  "Windows - Passing", and later I found that monolith.exe was in the Release .zip. But it would be better to have a one line explanation in a Installation > Windows section. Thanks, great work.

[2020-07-11 13:31] HarishSTOnline commented on #198
Hi @billforsternz, how you made it to work in Windows. I have downloaded the .exe file from the Release and tried installing, But nothing actually happens. It would be great if you can share you experience.

[2020-07-12 00:59] colorchestra opened #199 "Consider shipping amd64 binaries"
Hi!

I have noticed this subject was already touched on in https://github.com/Y2Z/monolith/issues/11, but I think the installation process can still be a bit cumbersome, especially for those who don't want to install Snap (and have its daemon running constantly just to be able to use Monolith every once in a while).

Having apt and rpm packages (and others) would be perfect imo, but just shipping

[2020-07-13 04:59] snshn commented on #199
Hi there!

Currently the CD pipeline attaches armhf binaries to every release, they seem to work on common ARM-based devices (tested on RPi3 B+). Do you know by any chance if ARM64 supports running those binaries? I can surely make an additional CD scenario for building ARM64 if armhf is not compatible. Thanks.

[2020-07-13 05:00] snshn commented on #198
Hey,

I'm working on adding monolith to chocolatey, once it's there I'll be able to add instructions for installing it on Windows using choco. Aside from that I'll add a bit of information regarding pre-built binaries to the README. Thank you.

[2020-07-13 05:02] snshn commented on #198
@HarishSTOnline monolith is currently a command-line utility, so you'll need to put it either in your PATH and use terminal emulator (I think there are programs called "Console" and "PowerShell" on Windows that should suit your needs).

[2020-07-13 11:51] colorchestra commented on #199
Hi, thanks for getting back! To provide some clarification, what I was thinking about isn't ARM64, but AMD64. I'm not sure if that's even the correct term, but what I would like to have is a binary that runs on my normal laptop with an Intel CPU. That way I wouldn't need to install either Snap or Docker or a Rust toolchain to be able to use Monolith.

[2020-07-13 22:48] snshn commented on #199
Oh, my bad. But the good news is: it's already been implemented, I'm glad seeing multiple requests for the same feature, means they're really valuable. [here's the CD instruction for that](https://github.com/Y2Z/monolith/blob/master/.github/workflows/cd.yml#L56)
There hasn't been a new release as of yet since that merge though, so the next release will be the first one to have a x86_64 GNUx binary

[2020-07-13 22:48] #199 closed

[2020-07-14 08:01] snshn commented on #199
[there you go](https://github.com/Y2Z/monolith/releases/tag/v2.3.0)

[2020-07-21 13:38] legends2k opened #203 "Some interactive canvas elements don't get properly saved"
[code]

This gives a freeze-dried page that renders properly for the most part.  The page has lot of interactive canvas rendering with JS.  Most of them work too except for two.  Upon inspecting them I see

[2020-07-21 19:36] HarishSTOnline commented on #198
Thanks @snshn. I got it to work by following your guidance. Thank you! ❤️

[2020-07-21 22:47] snshn commented on #203
Hey there Sundaram,

it seems like the JS code on that page makes remote requests for canvas background images using relative URLs -- it's impossible to embed those unless we parse and interpret JS to the point where we can recognize file paths and replace them with data URLs, which would be a cool feature but require many-many weeks of work and would never work 100% reliably. Sadly, but the trail

[2020-07-22 14:06] legends2k commented on #203
This is understandable.  I don't mind trying to fix these manually for the ones I preserve.

I know this is fiddly, but instead of dismissing it right off the bat, is there a possible middle ground?  Just thinking out loud, looking for `.src`, request-related API calls, etc., taking a cursory shot and if we end up with 404 calls dropping it right there? Of course if you feel ROI isn't worth the tr

[2020-07-22 16:31] snshn commented on #203
The main problem is that monolith never sees those requests, they happen only when you open your browser and execute that JS code to draw/change the canvas.

Possibly there is a middle ground: if you save those websites as directory+assets using your browser, you could change those values in .js files to be data URLs of images that they point to, e.g. change `'src/image/bg1.png'` to `'data:image/p

[2020-07-23 08:19] legends2k commented on #203
Are you talking about the [`<base>` tag][base]?  If yes, then yeah, it's supported by all major browsers.

[base]:https://www.w3schools.com/tags/tag_base.asp

[2020-07-23 08:25] legends2k commented on #203
This is a good interim solution though.  Thanks!

Took a cursory look, will try it out when I get time.  Honestly, I'm not very experienced in JS or HTTP; low-level programmer here :sigh:

[2020-07-24 09:03] snshn commented on #203
It looks like the `<base>` tag does the job for https://ciechanow.ski/alpha-compositing/ -- the saved copy ends up reaching to the server to retrieve those background images. It's not going to work while offline or if the resource disappears from the server, but it's better than it not working at all. The `-I` flag (isolation) would prevent this from happening as well. I'll implement it sometime t

[2020-07-24 13:45] legends2k commented on #203
It's better than not working at all; agreed.  However, this also breaks the expectation for an average Joe -- archiving such a site thinking one has a completely offline copy saved for eternity.  Perhaps adding a warning for such resources is appropriate here?  This might also be a good cue for the preserver to do the offline save process you mentioned above.

[2020-07-25 08:39] paul-hammant opened #204 "Saving tweets - Twitter's doing redirects and JS detection that thwarts monolith"
`monolith -I -j -u "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0 Safari/605.1.15" <URL-to-tweet> -o saved_it.html`

Turning Javascript off in the browser redirects you to the mobile site. Essentially, the same URL with a "mobile." prefix on the domain. So that saves via monolith, but when the page loads up again from disk, it presents a "wan

[2020-08-01 06:06] snshn commented on #204
You could try pretending being a robot, e.g. `monolith -I -j -u "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" <URL-to-tweet> -o saved_it.html`
This way you'll save that page in a plain HTML format (that you can see being used for google search page caches and in The Internet Archive's Wayback Machine).

[2020-08-01 07:01] paul-hammant commented on #204
That worked. I had to add `<meta charset="utf-8" />` to the <head> section to make it render correctly in Chrome, but it was good.

[2020-08-01 09:02] snshn commented on #204
Great to hear! I'll look into the charset issue to be improved.

[2020-08-01 23:10] #204 closed

[2020-08-02 01:28] snshn commented on #203
The release is out, in a couple of days it should be available via Homebrew and Snapcraft.

Detecting dynamically included resources to display the warning message would be extremely difficult and outside of scope of this program. I would say it's an edge case, and when the `-I` (isolation) option is used, the user should be able to see what it may look like without any dynamically-included remote

[2020-08-03 07:05] legends2k commented on #203
This makes sense, closing this one out.  Thanks for patiently answering my queries :)

[2020-08-03 07:05] #203 closed

[2020-08-07 15:11] IICommitII opened #208 "Vimeo Videos Dont Work"
Amazing work, thank you for creating this.

I noticed if the page has a Vimeo video embedded on the page, it won't get downloaded in HTML. I understand the goal of the tool is so the HTML page works offline too. But not having Vimeo video actually affects the completeness of the page. Maybe there is a way to download Vimeo videos too that I am not aware of? So in case when we have internet, we can

[2020-08-11 07:23] HarishSTOnline opened #209 "Permission Denied in Ubuntu 18.04"
Hi Everyone,

I am almost sure that this has something to do with Permission of directories. But I am unable to rectify it.
I have installed monolith using snap on a Ubuntu server. Now _the command is working fine and the HTML file is generated at the_ **HOME(~) directory**. But whenever I run the command in any other directory (Like inside a web application directory), I am getting the following

[2020-08-11 11:09] HarishSTOnline commented on #209
I am now getting the `{ code: 2, kind: NotFound, message: "No such file or directory" }`, when trying to run the command outside HOME or its sub-directory. Basically, I am not able to create the HTML file other than HOME or its subdirectory.

For Example:

monolith https://google.com -o /var/www/google.html gives me the above error.

[2020-08-12 11:28] snshn commented on #209
Hi Harish,

so the thing with Snaps is that they're isolated. If you do `which monolith` it'll show you that it's located at `/snap/bin/monolith`, then `ln -hl /snap/bin/monolith` will print this:

So in a nutshell when you run monolith installed from a snap, it runs it via /usr/bin/snap, not directly. This way /usr/bin/snap is able to sandbox and prevent programs from e.g. modifying files outside

[2020-08-13 05:16] HarishSTOnline commented on #209
Thank you @snshn, I will try with rustup!

[2020-08-17 21:50] moriakijp opened #210 "[Request] stop downloading when got forbidden errors"
I request the option that If 403 forbidden error we got, stop downloading or display an message.
In a script this command downloading 403 pages repeatedly, so I thought I needed such an option.

[2020-08-18 21:47] trevyn commented on #208
1) You might want to check out [youtube-dl](https://github.com/ytdl-org/youtube-dl/). (it works for Vimeo and many other sites, too)

2) youtube-dl works embedded in Rust with [pyoxidizer](https://github.com/indygreg/PyOxidizer), so it might be possible to wedge it into monolith, too.😄

[2020-08-19 08:18] snshn commented on #208
I'll look into ways of linking Vimeo videos within saved documents, thank you for reporting this.
Not sure about embedding streaming video sources right now -- would need to establish support for plugins in order to make monolith perform custom actions for certain websites; the current codebase is a long way from there.

[2020-08-19 08:19] snshn commented on #210
Hello Akihito,

I'll look into this, thank you for reporting the issue.

[2020-08-20 10:10] HarishSTOnline commented on #209
Hey shshn,

Thanks for this wonderful tool! From your suggestion, I have installed it with Rustup! Working great... Thanks again! Closig this issue.

[2020-08-20 10:10] #209 closed

[2020-09-24 15:49] Kochise opened #211 "Saving in MHTML/MHT format"
Suggestion, support the MHTML standard that already saves everything into one file.

https://en.wikipedia.org/wiki/MHTML

MHT files are huge but because saved in mime/base64.

[2020-10-01 20:14] snshn commented on #211
Hi there Kochise!

Thank you for the feature request. Being completely honest, I believe supporting that format would be detrimental to Monolith, as it's much harder to edit or even scan MHT with tools like grep, when compared to plain HTML. What's cool about HTML is that you only need a web browser to view it, and it's easy to edit it using any text editor. MHT seems a bit more like PDF, and it s

[2020-10-02 21:13] Kochise commented on #211
https://github.com/scooby/mhtml_unpack/blob/master/test_cases/test.mht

[2020-10-03 04:58] snshn commented on #211
Ah, my bad, mixed it up with Apple's .webarchive files that Safari uses. Seems like it can't be easily converted into from monolithic HTML documents so would need to be supported by the program that has access to the source page. One of the benefits seems to be smaller file size in case of having many redundant files. Thank you for the link. I'll look more into its spec and make an implementation

[2020-10-03 20:58] Kochise commented on #211
Thanks for taking into consideration my suggestion.

[2020-10-22 12:00] tda7088 opened #212 "How to support other charset？"
Hello, how to support non-utf8 strings? Such as gbk。
`<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html;charset=GB2312">
<meta http-equiv="Content-Language" content="utf-8">
<meta content="all" name="robots">
<title>��������ѪҺ�������ŶԵ����ҳ�--��ʷƵ��-������</title>
<meta name="keywords" content="������ 1950�� ѪҺ ���� �� ������Ա ����

[2020-10-24 09:57] snshn commented on #212
Hi @tda7088,

it needs to be implemented in the program itself, has to be detected via HTTP headers and via META tags in the document. Could you please let me know what other non-utf8 encodings aside from GBK you believe are necessary to be supported by monolith?

[2020-10-26 07:09] tda7088 commented on #212
Thank you for your reply. Because monolith saves HTML as utf8 character set by default, some pages in other character sets cannot be reversely converted and cannot be restored after conversion. If monolith can automatically determine the character set or provide options to specify the character set, it will be more powerful. Thanks again for your reply

[2020-10-27 13:44] tda7088 commented on #212
I found another software that supports gbk encoding, https://github.com/markusmobius/nodeSavePageWE

[2020-10-28 08:40] tda7088 commented on #212
The speed is relatively slow, not as good as the monolith, I will try to modify the character set when the monolith saves the file. First contact with rust

[2020-11-01 14:28] zfhrp6 opened #213 "remove unused import"
warned unused import, and this can be removed.

[code]

[2020-11-01 15:04] zfhrp6 opened #215 "suppress deprecated warning (in clap macro)"
warned deprecated constant use as below, to fix this, update clap to v2.33.3 from v2.33.1.

[code]

(if we want to have been aware of the deprecated code, we shall leave the version as it is. because [the change of clap](https://github.com/clap-rs/clap/compare/v2.33.1...v2.33.3) is just only suppressing)

[2020-11-03 03:03] #215 closed

[2020-11-04 09:04] #213 closed

[2020-11-11 06:17] tda7088 commented on #212
I am not familiar with rust grammar, and the writing is relatively poor, so I can barely use it.
`//dom = html_to_dom(&String::from_utf8_lossy(&data));
let html=String::from_utf8_lossy(&data);
if html.contains("=GB2312")|html.contains("=GBK")|html.contains("=GB18030") {
    //eprintln!("data3:{}", GBK.decode(&data, DecoderTrap::Strict).unwrap());
    let html0=GBK.decode(&data, DecoderTrap::Strict

[2020-11-16 20:53] schmurtzm opened #217 "[support] is there a way to backup a product page from aliexpress ?"
Hi , Thanks for this really great tool !

Is there a way to backup correctly an item page from aliexpress ?
Something like this : https://www.aliexpress.com/item/32673301320.html

Capture result looks like this :
![image](https://user-images.githubusercontent.com/7110113/99306923-218b2e00-2856-11eb-91ab-a0550a5336bd.png)

Best regards.

[2020-11-17 07:23] snshn commented on #212
That gives me a good idea of how to deal with those charsets, thank you. I'll add detection of content-type HTTP header and deal with meta-tags and conversion, I believe that should be enough for most non-UTF8 cases.

[2020-11-17 07:54] snshn commented on #217
Hi there Schmurtz,

it looks like aliexpress has a lot of runtime-injected JS assets; in order to "catch" those the software would have to act as a headless browser and execute JS code, monolith doesn't do that, it's more closely related to curl/wget rather than phantomjs. I'd try to use [SingleFile](https://github.com/gildas-lormeau/SingleFile) as it tends to deal with JS-heavy resources better t

[2020-11-17 13:27] schmurtzm commented on #217
Hi @snshn , thank you for this interesting anwser.
I tried with SingleFile and yes it works like it should but I'm looking for a command line tool.

(Short story : I buy many electronic components for my hobby so I'm making an excel spreadsheet to backup all my aliexpress orders and I would like a local backup of each webpage item to be able to consult it even many years later.)

Single file allow

[2020-11-17 13:33] yantar92 commented on #217
You can also try https://github.com/pirate/ArchiveBox/

[2020-11-17 15:45] schmurtzm commented on #217
Thanks.
Seems to be a great tool too but still require a docker so still hard to share in a zip file 😅

[2020-11-17 23:23] snshn commented on #217
SingleFile is actually a CLI tool as well, it's just more commonly known as a browser extension. [Here](https://github.com/gildas-lormeau/SingleFile/blob/master/cli/README.MD)'s more info.

[2020-11-17 23:30] snshn commented on #217
[This thing](https://github.com/JarvusInnovations/puppeteer-cli) could also work, e.g. `puppeteer print https://www.aliexpress.com/item/32673301320.html aliexpress-32673301320.pdf` – not a HTML file but still useful for archiving things.

[2020-11-18 04:01] schmurtzm commented on #217
I tried puppeteer but the result is similar to monolith with the JS assets from aliexpress.

I had some problem to install SingleFile CLI with npm (it doesn't install chromium automatically for an unknown reason). Once solved it works great. I will try to make a portable version of this tool later (I don't know if it is possible to include nodejs in a portable tool...).

I also made a version with

[2020-11-18 06:36] snshn commented on #217
You're welcome, glad we were able to help!

[2020-11-23 03:54] #210 closed

[2020-12-02 14:34] midaspt opened #220 "[request] display configurable header box in-page"
Hi and thank you for this great tool. `monolith` is in fact a data hoarder's dream come true.

My suggestion is the following:

Currently, `monolith` saves capture metadata to a HTML header comment, as in the example below.

``

It would be very nice to have an option to display this info on a header box at the top of the captured page and _automagically_ activating the original URL.

Doing so wil

[2020-12-10 07:08] DillFrescott opened #223 "Multiple pages into one?"
I have a small website with 2 separate pages. I've managed to compress them down to just two .html files using Monolith.

Is there a way to combine these 2 html files into one with two distinct pages?

I've seen it done before where it adds a #something to the end of the url for the other page that is displayed.

This is a really cool project btw!

[2020-12-10 13:13] snshn commented on #223
Hi there Cross!

Interesting case, good question... I'd use something like [this](https://github.com/Y2Z/data.sh) to convert one of the HTML files into a data url, and then edit href within the first HTML document to be set to that giant data: link. It should work.

[2020-12-10 18:22] DillFrescott commented on #223
I'll try that. Sounds like a good idea!

By the way, I've been messing with base64 data url's and i want to use one in a url shortener.

But the shortener needs https://  or http:// in front of the data url in order to work.

But this breaks the data url.

Is there a way to have a simple html file or javascript that I can host on github pages take the data url and remove the http:// and domain nam

[2020-12-10 20:54] DillFrescott commented on #223
I'll try that. Sounds like a good idea!

[2020-12-10 20:54] #223 closed

[2020-12-10 23:25] snshn commented on #223
Did it work?

[2020-12-10 23:56] DillFrescott commented on #223
Sort of. I'm not good with html lol.

It definitely would if I knew why I was doing haha!

I'm fine with 2 html files that's still not a lot for a full website with 2 pages.

[2020-12-11 00:01] snshn commented on #223
You just have to find `<a href="...">Link Name</a>` and replace whatever is within "" (ellipses in the example) with a data URL (data:...). That's pretty much it.

[2020-12-11 00:19] DillFrescott commented on #223
Ah. But the issue is that there are a couple buttons that lead to the second page. One at the top bar and another towards the bottom of the page.

I didn't want to paste the full 7. Something MB of base 64 for each button and triple the size of the file :(

[2020-12-11 00:20] DillFrescott commented on #223
I tried creating a reference to it using a div container I think it's called so I only had to paste it once. But it didn't really work that well.

[2020-12-11 00:25] DillFrescott opened #224 "Suggestion"
Would it be feasible to be able to download and convert videos into base64 with the rest of the site?

That would be a neat flag option.

Also a way to get past Cloudflare's JavaScript challenges. (If it can't already do that)

[2020-12-11 01:02] snshn commented on #223
If you make a repo with those two files I'll gladly show how to merge them in a PR.

[2020-12-11 01:10] DillFrescott commented on #223
I might do that in the future but I'm fine for the moment.

There is something that I was trying to figure out how to do with no luck though.

I need a static .html script page that can take a base64 text url that is at the end of the link and display its content.

For example 'https://myrepo.github.io/index.html' and then either a ? Or a # (AI don't know which works) so like:

'https://myrepo.git

[2020-12-11 01:11] DillFrescott commented on #223
So when you click the link it just processes it and displays the base 64 text just like you put the data url directly into your browser

[2020-12-11 01:12] snshn commented on #224
Video file support is an upcoming feature; not all videos can be easily retrieved though, some are streamed and not a single media file.

Cloudflare would require JS support, I'm working on it as well... currently only SingleFile can bypass Cloudflare, to my knowledge.

[2020-12-11 01:13] DillFrescott commented on #224
Ok. Sounds like some cool upcoming features!

[2020-12-11 01:13] #224 closed

[2020-12-11 01:15] DillFrescott commented on #223
This way I can use a url shortener with it.

Because most url shortener do not allow data links. The links must start with http or https

[2020-12-11 01:33] DillFrescott commented on #224
By the way I don't think SingleFile can bypass a Cloudflare js challenge. I think it's the browser doing the work, then after you have passed the challenge, it just downloads what you see and has been transferred to you.

I could be wrong tho.

[2020-12-11 01:34] DillFrescott commented on #224
Aren't js challenges basically math in javascript that it needs to do? Then it assigns a special cookie if you complete it?

[2020-12-11 01:34] DillFrescott commented on #224
That's at least how I assumed it works...

[2020-12-11 13:12] snshn commented on #223
That's clever! There could be a limit set on the URL length in URL shorteners. ? sends  data to the server, so # would likely be the way to  go.

[2020-12-12 20:43] snshn commented on #224
I think so... sometimes it has a CAPTCHA challenge, that'd require a UI, but just JS + Cookie can be easily emulated in headless mode

[2020-12-14 04:30] #198 closed

[2020-12-15 01:23] DillFrescott opened #225 "Idea for saving video with Monolith"
This might sound crazy, but is there a way to save the videos from a webpage as an actual mp4 file thats in a container named something.html?

Much like how renaming a .zip file to .jpg turns it into a picture (tho un-openable) but changing it back to a .zip allows it to be opened again. Could you make a .zip file named .html with the video inside, and put the html code at the "top" so to speak so

[2020-12-15 01:35] snshn commented on #225
You've described exactly what SingleFileZ does, https://github.com/gildas-lormeau/SingleFileZ

That makes the HTML no longer available to grep, and makes the document require JS support to be viewed, hence can't really implement that for monolith, no matter how cool the idea seems to be.

[2020-12-15 01:36] DillFrescott commented on #225
Whoa that's weird! Gotcha tho, guess it doesn't hurt to ask =P

[2020-12-15 01:36] #225 closed

[2020-12-26 09:32] snshn commented on #72
Big shout out and thanks to @jstasiak for releasing the `monolith` crate name for this project on crates.io!

[2021-01-18 19:50] npearson72 opened #238 "Anyway to adjust the viewport size?"
Puppeteer has a function to pass in the following params:

[code]

This helps in cases where sites use JS to make layout adjustments based on viewport size. Having control over the size or a default size that's very large would be helpful.

[2021-01-19 00:47] snshn commented on #238
No, not possible, no viewports here. Puppeteer runs Chromium in headless mode, while Monolith doesn't have any browser underneath, it simply resolves and embeds assets.

I agree that it could help saving some sites, perhaps I'll try to add optional browser engine at some point, will definitely implement the sizing setting then.

[2021-01-19 01:02] npearson72 commented on #238
Thanks!

[2021-01-19 01:02] #238 closed

[2021-01-25 09:04] bew commented on #99
Hello, I just discovered monolith and I'm loving it!

This proposal is a great idea, isolation of responsabilities and testability is so important in modern tools & software!

Has there been any progress on this?

I think that isolation of responsabilities can come incrementally, improving testability and tests in general is a step in the right direction and will make future architectural changes

[2021-01-29 04:05] snshn commented on #112
That's the next big patch I'm currently working on. What encoding is not working in your case, @moriakijp?

[2021-01-29 05:47] snshn commented on #99
Hi @bew!

Thank you for the question, glad seeing people still finding this tool useful!

No, no progress on this one. I agree that the proposal is great, and I would love to work on it, but to be honest haven't done anything like that before, and wouldn't want to botch this relatively popular tool, being the only maintainer at the moment.

I currently have to fix a few important things before I'm

[2021-02-02 19:06] kimreyio opened #241 "Blank Page when trying to pull an Earth2.io URL"
Hello, I'm trying to pull down a user profile but no matter what combination I use I keep getting a blank grey page displayed in FF/Chrome/Safari.

I'm using Debian Buster, Monolith 2.4.0, and latest updated FF/Chrome/Safari.

The url is https://app.earth2.io/#profile/a87718ee-3be1-4239-a998-5c5ad07ff6d4

I've confirmed with multiple other sites that monolith is working, and also running it as roo

[2021-02-03 08:35] snshn commented on #241
That resource seems to be a JS-heavy web app. You could try to use [this browser extension](https://github.com/rhysd/monolith-of-web), or copy the HTML from the browser via web dev tools' DOM inspector, save that HTML code into a file, then do `cat file.html | monolith -b https://app.earth2.io - > file-with-assets.html`, and then _maybe_ some content will show up. I wouldn't hold my breath, since

[2021-02-03 12:08] bew commented on #99
@Alch-Emi Hello, just a note: your links for current flow & proposed flow are broken for me (on desktop/mobile) with message `Cannot proxy the given URL`.
Could you re-upload them maybe?

[2021-02-03 14:45] kimreyio commented on #241
Thank you for the quick response. This is on a remote server so there isn't a web browser to access. I will move on to scraping using another application and re-displaying the data for my dashboard.

[2021-02-03 14:45] #241 closed

[2021-02-04 12:07] snshn commented on #241
Try SingleFile, I'd say for saving a JS-heavy web app that'd be your best bet.

[2021-02-09 15:46] MichaelM00 opened #242 "Exclude domains"
An option to exclude domains so that no connection is made to prevent downloading resources from specific domains would be very useful.

Thank you for your program.

[2021-02-10 08:23] snshn commented on #242
That's such a good idea, thank you for the suggestion! Do you have examples of other CLI tools having similar blacklists?

Currently Monolith has no arrays in options, I need to find a good format for providing lists to the program.

Options: `-B *.domain.com,some-other-domain.com,friendbook.com` or `-B not-this.com -B not-that.com` etc. There must be some common way of specifying wildcards in hos

[2021-02-10 13:13] MichaelM00 commented on #242
wget has the `--exclude-domains` flag option for this. wget has some really great options that I am sometimes surprised to find are missing in similar popular tools. I do think wget's version is quite limited though as it will only accept exact domain names. Having wildcard/regex support would definitely make it better than what wget currently has.

[2021-02-12 20:36] Alch-Emi commented on #99
Oops, my apologies

I've updated the links and it should display now, although I'm not sure how accurate the diagrams are now.

[2021-02-24 09:52] snshn commented on #112
The fix is now in `master`. From what I know so far, html5ever (the HTML parser module) parses everything as Unicode, and when monolith re-assembles the document, the original information is lost, the document becomes UTF-8 no matter what charset it originally had. The current solution is to just set all meta charset tags to indicate it's a UTF-8 document. Not ideal but seems to work fine for arch

[2021-02-24 09:53] snshn commented on #212
This should work now. If you get a chance, could you please check the `master` branch and run the code from there via `cargo run -- <options> <url>`? I'm going to make a new release by the end of the week.

[2021-02-24 09:58] #112 closed

[2021-03-01 01:45] snshn opened #246 "Monolith meta tags"
Monolith currently only puts a comment tag with timestamp and source information into the final document. Adding actual `<meta />` tags that are easy to parse would likely be a good addition.

IEdge has some sort of technology built into it when it comes to saving pages to disk that could have some sort of logic to it. I know, I know, it's IE. But still worth looking at: [Mark of the Web](https://

[2021-03-09 10:37] Rudo2204 opened #249 "Monolith not fetching alternate css stylesheet (alternate darkmode)"
I'm trying to save a webpage from [this website](https://yonde.itazuraneko.org/novelhtml/9907.html). The program works, the webpage is saved and displayed correctly. However, it only saves and embeds the default css stylesheet (mainday.css), the alternate darkmode stylesheet (mainnight.css) does not get saved.
In the saved html document, it still appears as
[code]
Is this a bug or intended behavio

[2021-03-09 11:50] snshn commented on #249
Hi Rudo!

Definitely a bug, thank you for reporting, fixed it in #250.

Merging in a few minutes, making a new release after that (2.4.1).

[2021-03-09 12:01] Rudo2204 commented on #249
Thanks you for the quick fix!

[2021-03-09 12:33] snshn commented on #60
The latest version (2.4.1) embeds images found within NOSCRIPT tags. That technically makes it save images from Medium, but they're only visible when JS is turned off. I'm planning to add a `-n` option for "unwrapping" NOSCRIPT tags in the next release, that should resolve this issue completely.

[2021-03-09 13:06] RomeuG commented on #60
That's great! Good job! :-)

On 03/09, Sunshine wrote:

[2021-05-19 05:27] liamwarfield opened #257 "Can I add a related project?"
Hey I made a project that glues Monolith (local document storage), Tantivy (An offline search engine), and youtube-dl into a CLI tool! I was wondering If I could Add it to your "Relate Projects" section?

https://gitlab.com/fisherdarling/monk

[2021-05-19 05:35] snshn commented on #257
Hi there,

yes, absolutely, please go for it!  Thank you for asking.

[2021-05-23 16:14] TonioGela opened #258 "[BUG] Internet Explorer \9 hack removed from CSS"
Hello! I tried to monolith a webpage, but since the result was hugely different in term of colours from the original one, I indagated a bit, and I discovered that monolith removes a "CSS hack" (whose existence was not known to me before this problem) that consists in a `\9`, hack intended for Internet Explorer described for example [here](https://stackoverflow.com/a/8004962/5281702)

In particular

[2021-05-24 11:49] snshn commented on #257
@liamwarfield please let me know if what's in #259 is good, I'll merge it in and close this issue

[2021-05-24 12:01] snshn commented on #258
Hi there Antonio!

It looks like the Rust crate that monolith is using, cssparser, omits `\9` since it's technically an error in CSS syntax.  Lemme run a couple more tests, maybe I'll be able to make it put it back into the code during serialization. 🤞🏻

What is the desired behavior you're looking for, if I may ask?  Are you trying to save it as-is, or eliminating the line with the `\9` hack?

[2021-05-24 12:24] TonioGela commented on #258
Well, in this particular case, I need to keep the `\9`, but I agree with the cssparser philosophy that CSS errors should be omitted.
Maybe it could be versatile to a command-line flag named `preserveCss` or `preserveErrors` or simply `preserve` if that is the desired behaviour. What do you think?
Btw I renew my thanks for this awesome tool ;)

[2021-05-24 20:54] #257 closed

[2021-05-28 08:27] snshn commented on #258
It looks like the cssparser crate replaces `\9` with `\t` due to 0x09 being the ASCII code for the tab character.  Could you please check to see if IE[7-9] ends up treating `px\t` different from `px\9`?  I believe that's what monolith ends up saving to disk in your case.

Not sure about the CLI flag, it's quite an alphabet there already.

Glad to know people still find it useful, Monolith's almost

[2021-05-28 09:42] TonioGela commented on #258
I don't have windows, so it's difficult for me to test with IE[7-9], but I'll try with a VM asap.
Still, I tested the `\t` replacement in both Firefox and Chrome and while `section:(\9)` doesn't get matched `section:not(	)` (I don't know how tab renders, but there's a tab there) sadly doesn't, ending up in the same problem I had originally.

It's an awesome piece of software and believe me: if I k

[2021-05-29 00:32] snshn commented on #258
I wrote some tests, it looks like by default cssparser was adding a space character after the `\9` (considered optional in the CSS spec), at least the test is passing (it preserves `(\9)` to be a `(\9)`).  Please lemme know if you can pull and build code from #260 to test it with your CI setup.  If not, please give me some time to make a new release, there're a couple of other changes I have in th

[2021-05-29 08:18] TonioGela commented on #258
I'll test it and get back to you asap, thank you!

[2021-05-29 08:31] TonioGela commented on #258
It works! Thanks a lot! The `\9` gets copied correctly in the 2 spots it was supposed to finish! Thanks for the immediate support too! Can't wait for the next release, in the meantime, I'll use the branch version.

[2021-05-29 09:04] snshn commented on #258
Calling it immediate is likely a stretch 😄, but I'm very glad it works now, thank you for reporting the problem.  I learned something new.

[2021-05-29 09:04] #258 closed

[2021-06-04 00:04] richardji7 opened #261 "cargo error"
Trying to compile from source using cargo on openSUSE Leap 15.2

[code]

[2021-06-04 00:08] snshn commented on #261
o/ hi there Richard,

Many crates now rely on rustc > 1.52.x, just upgrade your rustc version via rustup and it will compile.

[2021-06-07 03:02] JokerQyou commented on #212
I did not have a chance to test GBK encoding, but monolith (at least in 2.5.0) did not work well with GB2312 encoding. For Asian users, these are the common encoding types for texts, but not sure if all of them are used to form webpages:

- GBK, GB2312, GB18030 for mainland China (Simplified Chinese). GB18030 is almost UTF-8.
- Big5 for regions using Traditional Chinese like Hongkong, Taiwan, etc.

[2021-06-08 23:55] snshn commented on #212
Hi there @JokerQyou,

thank you for letting me know that the issue still persists.

I just finished implementing support for processing encodings other than UTF-8.  There's also a `-C` option that makes it possible to save the document using preferable charset, no matter what the original document used, e.g. like this: `monolith -C utf8 https://.../gb2312.html -o utf8.html`.

The release version `

[2021-06-09 01:06] JokerQyou commented on #212
Great! I've just tested the URL in my previous comment, and it's working now. The `-C` option to rewrite the file with specified encoding also works as expected. Thanks for your efforts!

[2021-06-09 01:07] JokerQyou commented on #212
Great! I've just tested the URL in my previous comment, and it's working now. The `-C` option to rewrite the file with specified encoding also works as expected. Thanks for your efforts!

[2021-06-09 01:07] #60 closed

[2021-06-09 01:07] #261 closed

[2021-06-09 01:07] snshn commented on #212
You got it!

[2021-06-09 01:07] #212 closed

[2021-06-20 08:41] JokerQyou opened #266 "Consider releasing ARM64 binary file"
Currently `armhf` binary is included in release artifacts, but to run `armhf` executables on an `ARM64` (`aarch64`) OS it seems like [you need ia32 related libs installed](https://askubuntu.com/a/133460). Would you consider building for `aarch64` when releasing `monolith`? On such machine the target info is like this:

[code]

[2021-06-20 10:55] snshn commented on #266
Hi there, thank you for the tip!

It looks like it has to be targeted specifically at glib for GNU/Linux, musl would require a separate binary.

#267 is currently there to implement this, I'll run some tests locally using `qemu` to make sure that approach works, if all goes well the next release will contain AArch64 executable in its artifacts.

[2021-06-24 12:14] ajl000 opened #269 "Feature request convert MHT files"
Convert MHT files to single page HTML

[2021-07-04 05:48] snshn commented on #266
Please let me know if artifact in https://github.com/Y2Z/monolith/releases/tag/v2.6.1 works.

[2021-07-04 06:01] snshn commented on #217
The best that I can recommend as of right now is to do this: `monolith -b https://www.aliexpress.com/item/ https://www.aliexpress.com/item/32673301320.html -o result.html`.  It won't work without internet connection or with JS disabled in the browser, but at least the page renders fully once those remote fonts and other assets get retrieved via JS.

[2021-07-04 08:43] JokerQyou commented on #266
The glibc it was linked against seems a little bit too high. Nowadays many docker images are built upon `debian:buster` and it's reasonable to stay with `glibc 2.28`. Test result:

[code]

[2021-07-04 08:58] snshn commented on #266
Oh, interesting... it seems like only Ubuntu 20.04 (that GitHub Actions provides) has ARM64 packages, but I'll double-check now with Ubuntu 18.04, Glibc should be older there.

[2021-07-08 14:13] MichaelM00 commented on #242
Thanks for working on this feature @snshn. Is it possible to have wildcard/regex matching for this?

Also, do you think a complementary whitelist option would be nice to add? So that you are able to only connect to specified whitelisted domains/regex while the unmatched are automatically blacklisted. This can be very useful especially for websites that connect to many unwanted domains where blackl

[2021-07-08 22:56] snshn commented on #242
Yeah, whitelisting is definitely something that needs to be added.

Not sure about wildcard/regex matching right now, perhaps it could be added later; need to see how other tools have it implemented.  Regex could be used for matching the whole URL, not just the domain, but that's likely an overkill.

[2021-07-09 19:29] MichaelM00 commented on #242
Wget has some similar filtering options if you want to see how they are implemented:

`--accept-regex / --reject-regex`
`--domains / --exclude-domains` (wget lacks wildcard/regex for these unfortunately)

Wildcard matching would be really nice to have in my opinion. I use regex infrequently but it does come in handy when you want to match mainly based on URL.

[2021-07-11 10:30] zmni opened #276 "IncompleteBody causing panic"
`thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: reqwest::Error { kind: Body, source: hyper::Error(Body, Custom { kind: UnexpectedEof, error: IncompleteBody }) }', src\utils.rs:273:49`

URL: `https://kylegabriel.com/projects/2020/06/automated-hydroponic-system-build.html`

[2021-07-11 14:17] snshn commented on #276
Hi there @zmni o/

Thank you for letting me know!

I was able to save that page using both 2.6.0 and 2.6.1, the result is quite big, around 60MB, so I wonder if the size could be the cause.

Could you please let me know which OS and version of monolith you have?

Thank you 🙏🏻

[2021-07-11 15:00] zmni commented on #276
Windows 8.1 64bit and monolith 2.6.1

[2021-07-12 20:03] ashish01 opened #278 "MathJax Rendering"
Thanks for creating this tool and selecting a great name!. In the time where everything is in cloud, its great to know that I can avoid surprises when I want to read something later.

I found an issue with pages containing math notations. e.g. https://lilianweng.github.io/lil-log/2021/05/31/contrastive-representation-learning.html contains text which is rendered as
![image](https://user-images.git

[2021-07-13 00:41] snshn commented on #278
Hi there @ashish01!

It looks like `MathJax.js` gets pulled from cloudflare, and it has JS sub-modules that must be loaded later.  Basically inside the browser it happens when you render the page and execute JS, but monolith doesn't feature a JS engine, it never renders the page, only parser the DOM, so the main JS file gets pulled while its sub-modules fail to get retrieved.

There are a few ways

[2021-07-13 01:07] ashish01 commented on #278
Thanks for taking time to give such a detailed reply. I did try [SingleFile](https://addons.mozilla.org/en-US/firefox/addon/single-file/) and it worked just fine. Thanks!

[2021-07-13 01:07] #278 closed

[2021-07-24 23:16] snshn commented on #276
I've managed to run and save that page (no flags used, just `.\monolith.exe https://kylegabriel.com/projects/2020/06/automated-hydroponic-system-build.html > out.html` on Windows 10, no error in my case.  Since the page is very large (results in ~120MB on-disk), I assume there could be a bug somewhere in one of the libraries when it comes to running out of RAM or something to do with the machine y

[2021-07-27 09:58] ckp95 opened #279 "Broken scrolling on a certain page"
This webpage: https://www.toptal.com/python/python-parameterized-design-patterns

When I download it with Monolith, the resulting file has broken scrolling. You can't scroll down to actually read the article. All the text content is in the file, you can grep for words, but you just can't view in the browser. I could only get it to work by disabling Javascript and CSS in the commandline options, an

[2021-07-27 22:24] snshn commented on #279
Hi there!

Looks like they've coded that page in a very JS-dependent way, likely never tested it for browsers that have JS disabled.  There's a browser add-on port of monolith; it's an older version, but should still work: https://chrome.google.com/webstore/detail/monolith/koalogomkahjlabefiglodpnhhkokekg.  Aside from that, there's SingleFile, and you could also save the page locally as HTML file

[2021-08-30 06:27] AhmedShah63 opened #280 "Hi Tobias,"
Hi Tobias,

Thank you for sharing your code and making this PR!

The problem I see with this approach (and the main reason Monolith to this day doesn't have that functionality) is that while specifying User-Agent globally is okay, setting either cookies or basic auth the same way is a major security issue.
Both cookies and basic auth are tied to domain name when you use your browser, so when you v

[2021-08-30 11:04] Tobi823 commented on #280
Sorry for the late response,

I thought I would find time to improve the pull request further (by supporting the Netscape HTTP Cookie File format).

I will close this PR for now (maybe I will open it again)

[2021-08-30 12:26] AhmedShah63 opened #281 "encoding: UTF-8"
encoding: UTF-8

[2021-08-30 12:27] AhmedShah63 commented on #281
encoding: UTF-8

[2021-08-31 02:34] #280 closed

[2021-09-09 16:12] mrzv commented on #19
Probably related to this issue, `monolith`-saved pages don't render [Nicky Case](https://ncase.me/)'s explorable explanations correctly. Just as an example: https://ncase.me/trust/

[2021-09-13 10:13] snshn commented on #19
Hi there @mrzv!

I was able to save https://ncase.me/trust/ with `monolith https://ncase.me/trust/ -b https://ncase.me/trust/ > /tmp/test.html` but I don't think that .html file will work fine while you're offline, since it seems to pull some remote .js assets.

[2021-09-13 16:02] mrzv commented on #19
Ah, the `-b` flag does the trick, at least when online; without it, the page didn't work even online. I didn't know about it. Too bad that fully offline is not an option.

Another example worth investigating are substack posts. When you save any one and then open it, the content flashes briefly and then disappears (surely as a result of some javascript).

[2021-09-13 21:09] snshn commented on #19
Fully offline could be possibly achieved with Monolith browser extension: https://chrome.google.com/webstore/detail/monolith/koalogomkahjlabefiglodpnhhkokekg
If not, then perhaps SingleFile could do it.

I'll take a look at substack, thank you; `-j` usually solves the problem, since some pages show JS-powered lightboxes or redirect somewhere else, without JS even Cookie prompts usually never get s

[2021-09-13 21:28] mrzv commented on #19
Actually, fully offline seems to just work for that link, unless I'm hitting some browser cache.

[2021-09-13 21:29] mrzv commented on #19
And `-j` does the trick with substack. Thanks!

[2021-10-11 20:54] Phar-Lap opened #282 "Em Dash — character becomes â€”"
I saved a site from https://web.archive.org/ that had the character U+2014: Em Dash —.

base—any

When viewing the saved page:

baseâ€”any

Regards
MJ

[2021-10-16 08:55] snshn commented on #282
Hi MJ!  Thank you for reporting this issue.  I'll look into it and fix in the upcoming update.

[2021-10-22 10:43] hairycactus opened #289 "Unable to Save Live Webpage: 404 Error & 'Could not retrieve target document' Error"
Monolith is unable to save the following webpage, ie. no output HTML file at all.

**Sample URL:** https://edition.cnn.com/interactive/2021/03/cnnix-steership

The webpage itself is accessible via a browser, & remains totally functional even when offline as long as the browser tab is open.

### Commands Tried:
[code]

OR: Using the `-j` option:
[code]

OR: Using the `-b` option as suggested in thi

[2021-11-28 02:31] hairycactus commented on #289
Thanks for the suggestion of the alternative [SingleFile](https://github.com/gildas-lormeau/SingleFile#install) tool.

I don't use browser WebExtensions, & also generally prefer standalone solutions.

Meanwhile, the so-called [CLI tool](https://github.com/gildas-lormeau/SingleFile/tree/master/cli) supplied in the [master ZIP](https://github.com/gildas-lormeau/SingleFile/archive/master.zip) lacks a

[2021-11-28 02:43] hairycactus opened #291 "Stuck at "dns error: The requested name is valid, but no data of the requested type was found. (os error 11004)""
Monolith is unable to save: http://tmpvar.com/markdown.html

The webpage loads instantly in the browser, & also works fine offline with all its functionality intact.

### Observed Behaviour:
The command console repeatedly shows a `dns error: The requested name is valid, but no data of the requested type was found. (os error 11004)` error.

The saving process never completes, & one has to forcibly

[2021-11-28 02:46] hairycactus commented on #291
Forgot to state:

**Affected:** Monolith v2.6.1 (04 Jul 2021)
**OS:** Win 10 x64

[2021-12-06 07:16] snshn commented on #289
I understand what you mean by standalone solutions, completely agreed.  When I wrote Monolith originally as a POC project about 3-4 years ago, it was in JS, too, and somebody on IRC suggested to rewrite it in something else, anything else.  That's the short story of how it became a binary program written in Rust.  Then a couple of awesome contributors helped to get it working for most sites.  It d

[2021-12-06 07:34] snshn commented on #291
Very interesting!

It seems like it might've been something related to the server that holds that asset file, temporary issues on their side.  I was able to save and use that page while offline: `monolith.exe -I  http://tmpvar.com/markdown.html -o test.html` should work, could you please try again?

You might also want to give a try to this original tool: http://web.archive.org/web/20120319123606/

[2021-12-27 23:11] mrzv opened #293 "Panic when saving"
Saving <https://knowablemagazine.org/article/food-environment/2021/what-world-can-learn-britains-humble-hedge> with version 2.6.1 results in a panic (from `unwrap`ping an `Err`).

[2021-12-31 20:00] snshn commented on #293
Greetings Dmitriy!  Thank you for reporting the crash.  I'm currently working with the author of the networking crate that monolith uses for retrieving files in order to fix it, it seems to be a bug associated with decoding gzip in that library.

[2021-12-31 22:49] mrzv commented on #293
Thanks for the update, and thanks for investigating.

[2022-01-13 09:04] gd4c opened #294 "Option for first-party only"
Similar to issue #242, there should be an option to download from the first-party domain only, i.e. don't make any connections to any third party domains.

[2022-01-13 09:10] gd4c opened #295 "Repeating an option shouldn't throw an error but use the last instance"
Repeating an option like `-o doc.html` shouldn't throw an error but use the last one. This is conventional and useful.

[2022-01-17 16:18] JdeV987 opened #296 "How to save a webpage with "space" in name?"
I can not save a webpage with a blank (space) in the name, how do I do it?
For example, if I do this:
monolith https://github.com/Y2Z/monolith and other/issues and answers/new > test.html   ,
it says:
error: Found argument 'other/issues' which wasn't expected, or isn't valid in this context

[2022-01-17 18:37] snshn commented on #296
Hi there @JdeV987!

In terminals, spaces are separators of arguments, so you have to either use `%20` or just wrap the URL into quotation marks, e.g.:

`monolith 'https://github.com/Y2Z/monolith and other/issues and answers/new' > test.html`

[2022-01-17 18:37] #296 closed

[2022-01-17 18:44] #208 closed

[2022-01-20 07:44] DillFrescott opened #297 "White page glitch."
Downloading any webpage from https://anilist.co yields a plain white screen.

[2022-01-24 01:18] snshn commented on #294
Hi @gd4c,

Thank you for the suggestion!  There's currently #270 in the making, I'll see how this functionality could fit into the CLI after black/white-listing is done.

[2022-01-24 02:07] snshn commented on #297
Hi Cross!

Thank you for reporting the issue!  I do see some things I could improve in monolith to make it save a bit more data on that page, but sadly that particular site is 99% JavaScript, and it tries to redirect to `/404` unless the page's JS is executed within that domain, so even after I release optimizations/fixes to make it possible to at least render something saved from there, it'll onl

[2022-01-24 02:10] snshn commented on #295
Hi @gd4c,

I'm not entirely sure how conventional that behavior is... it looks like a very forgiving mode for CLI, and I'd say 99% of mature tools that I use (most are of course from GNU), they seem to throw an error whenever there's a syntax error/mistake.  In my experience, CLI modes tend to be way more strict than GUI ones.

[2022-01-24 02:13] DillFrescott commented on #297
Ah, gotcha. Thank you for the info! <3

[2022-02-02 13:20] iacs commented on #66
even a simple --depth flag would be really useful e.g. if you archive an image gallery page and also want the images it links to backed up as well

[2022-02-03 00:35] Pound-Hash opened #298 "Confusing instructions"
Running `monolith --help` prints:

`monolith [FLAGS] [OPTIONS] <target>`

But the README on GitHub instructs:

`monolith https://lyrics.github.io/db/P/Portishead/Dummy/Roads/ -o portishead-roads-lyrics.html`

Here, the option `-o` is _after_ the `target`, not _before_ as printed from `--help`.

[2022-02-10 17:09] trentwiles opened #299 "Archiving an onion site"
I'm trying to archive an onion, but monolith ignores torsocks.

My command:

[code]

How can I use localhost:9050 as a proxy?

[2022-02-10 17:12] RiversideRocks commented on #298
I'd suppose either would work.

[2022-02-17 00:04] kelmes opened #300 "Images from reveal.js presentations aren't included correctly"
Images in the bundled .html file end up as links to `<file_path>/images/whatever.png`, instead of `data:image/...`

For example: https://biods.org/talks/2020_Auckland_Broad_AI

![image](https://user-images.githubusercontent.com/20397647/154377990-61f658ab-7542-430c-a66c-4a9b07210bf4.png)

should be:

![image](https://user-images.githubusercontent.com/20397647/154378018-d2590c56-af46-4273-b1c0-456e

[2022-02-18 03:39] snshn commented on #300
Hello @kelmes,

Thank you for reporting this!  It seems like the page is using `data-src` instead of `src`, e.g. `<img class="stretch" data-src="../teaching/images/costpergenome_2017.jpg">`.  The JS logic then takes care of renaming those attributes to `src` when the page loads.  Monolith could possibly look for images with that attribute and use that to embed those assets, I'll try to see what's

[2022-02-18 07:13] snshn commented on #297
Let's see...

`chromium --headless --disable-gpu --dump-dom https://anilist.co/ | monolith - -b https://anilist.co/ -o anilist.html` seems to work, only the `opacity: 0` doesn't get changed on cover images, some JS issue.

`chromium --headless --disable-gpu --dump-dom https://anilist.co/anime/104578/Shingeki-no-Kyojin-3-Part-2/ | monolith - -b https://anilist.co/anime/104578/Shingeki-no-Kyojin-3-P

[2022-02-18 07:18] snshn commented on #300
Try this:

`chromium --headless --disable-gpu --dump-dom https://biods.org/talks/2020_Auckland_Broad_AI | monolith - -b https://biods.org/talks/2020_Auckland_Broad_AI -o biods_2020_Auckland_Broad_AI.html`

if you add the `-I` flag for isolation/privacy, the video won't play... so that's the only item that didn't get saved — it's a lazy-loaded video on a slide that's not the first one (slide #6), s

[2022-02-18 07:42] snshn commented on #278
@ashish01

Here you go dear sir:

[code]

[2022-02-18 07:45] snshn commented on #291
This seems to be working fine on GNU/Linux.  Please give it a try on Windows whenever you get a chance, and if it's working, we'll mark this issue as resolved.

[2022-02-18 07:48] snshn commented on #139
Hi @Tragen,

please give this a try:

[code]

[2022-02-18 07:50] snshn commented on #217
Hey @schmurtzm,

this seems to be working:

[code]

[2022-02-18 07:54] snshn commented on #279
@ckp95

I don't seem to observe any issues when it's saved using this command:

[code]

[2022-02-18 08:13] snshn commented on #289
Hey there,

Controls work, but the ship is still motionless.  This is the best result I've managed to get so far, using Chromium, here's the command:

[code]
Chrome should work as well, not sure about Brave.

I am 99% convinced at this point that it's done on purpose by developers, to prevent it from getting pirated... no pun intended.

[2022-02-18 08:26] snshn commented on #299
Hi there @RiversideRocks!

I believe this should work: https://github.com/Y2Z/monolith#proxies

More info here: https://stackoverflow.com/questions/49561309/wrap-tor-socks-proxy-with-http-proxy-in-command-line

Please let me know if that resolves the issue.

[2022-03-22 08:24] JokerQyou opened #304 "Issue with memory usage"
Hi, I wonder if you received my email about monolith's memory usage (how monolith triggers OOM killer, to be specifically). I cannot reach you via email and other channels, thus this issue.

I'd appreciate it if you can take a look at the samples I provided. Let's continue the discussion via email.

[2022-04-01 10:36] snshn commented on #304
Hi Joker_,

I was away from open-source work for some time, apologies for not answering your emails, was only able to access to my laptop yesterday.

OOM is a tricky thing for this program, since monolith saves the page as one file, and websites are only getting heavier and heavier, hence all those assets end up being accumulated in RAM.

[2022-04-05 17:58] KonstantinDjairo opened #305 "it goes white screen after 10 seconds (when saving reddit pages)"
i tried to save reddit web pages and it works... at least until 10 seconds and all goes white, i asked some people to try too, because i the problem would be my browser,but it was not (i use chromium) and they say to have the same problem.

a screenshot:

[2022-04-07 02:22] snshn commented on #305
Hi there Konstantin,

my wild guess would be some kind of JS code messing with the saved document.  Could you please try saving it with `-j` flag?  `-jn` could work as well, if just `-j` doesn't do anything.  Please let me know if it helps.

[2022-04-10 12:34] eriteric commented on #66
exactly what I came looking for today, +1
was trying to save a webpage with thumbnails but the full images are linked.

[2022-04-11 14:25] KonstantinDjairo commented on #305
thank you, this worked as well!!

[2022-04-26 12:43] cbluth opened #306 "error trying to connect: bad protocol version"
I am having an issue with a specific URL:
- https://wiki.theory.org/index.php?title=BitTorrentSpecification
- or
- https://wiki.theory.org/BitTorrentSpecification

i keep getting this error:
[code]

[code]

[2022-06-05 19:19] banool commented on #72
I see this is now an importable crate, but it seems like much of the functionality is held within `main`, which can't be imported and used easily. Has anyone had any luck with using this crate as a library?

[2022-07-09 08:37] rootpophome opened #310 "Asynchronous execution error"
Does the framework support asynchrony?
framework used tokio = "1.19.2"
Specific performance, directly interrupt the execution without downloading the file

[2022-07-10 06:28] rootpophome commented on #310
异常为个人产生，抱歉

[2022-07-10 06:28] #310 closed

[2022-07-13 15:56] wankio opened #311 "How to extract files in html"
With mht i can still extract files inside it, but when i tried to extract html created by this app, it can't

[2022-08-07 05:01] snshn commented on #293
A bit late, but found the issue.  That file is being served with quite rare `brotli` compression algorithm, support for which I'm currently adding along with `deflate`.  The fix will be in the next release.  Thank you for reporting this issue!

[2022-08-07 05:08] #293 closed

[2022-08-07 05:18] snshn commented on #306
Hi Cobin,

thank you for reporting this.

Seems to work fine with 2.6.1 on GNU/Linux... now will test macOS... confirmed, getting the same exact error as you do on macOS.   I've updated `reqwest` dependency in master, haven't made a new release yet, but if it still happens on macOS with that new version of the library, I'll dig into what's causing it and make sure it's fixed.

Will report here onc

[2022-08-07 05:18] #305 closed

[2022-08-15 11:58] olivier-fs opened #315 "feature request : Rate-limiting CLI option"
Hi
Just tried it with en.wikipedia.org, works great for me, CSS, IMG etc. saved page is perfect clone.

Just noticed there is no request rate limiting option.
monolith emitted the required 92 http request to complete its task.
Of course en.wikipedia.org took it as 92 is not "too many".
But It would be nice not to hammer the target site, with a rate-limiting option, e.g. using -r [--rate-limit] <mi

[2022-08-16 03:33] snshn commented on #315
Greetings Olivier,

thank you very much for the suggestion!

Currently monolith makes synchronous requests one after another, and I've never experienced errors associated with making too many requests myself — after all they are requests to different resources, and unlike monolith, our browsers make them all simultaneously, usually without hitting any limits.

But I completely understand that some

[2022-08-17 06:27] olivier-fs commented on #315
Hi
You're absolutely right
- I didn't notice the requests were sync and seriliazed
- This tool is great for single page download, and is not a spider that will dig into hrefs
So the sync requests design choice is fine.
Guess I'm way to used to think parallel, as I'm writing lots of axum handlers/requests... But I should have checked _all_ the CLI parameters. Sorry for the noise.

[2022-08-17 06:27] #315 closed

[2022-08-17 09:12] snshn commented on #315
No worries at all!  I'll add this flag once monolith is advanced enough to make async calls — it's more of a scraper than browser right now.

[2022-08-18 13:18] sturmery commented on #306
Seems to be working now with monolith v2.6.2.  Was probably some bug in one of the crates/3rd-party dependencies, all those got updated to latest versions for 2.6.2.

Please let me know if it works for you now on macOS.

[2022-08-18 21:03] snshn commented on #306
The bug seems to be gone now, please feel free to reopen if you encounter this issue again.

[2022-08-18 21:03] #306 closed

[2022-08-30 02:02] JokerQyou commented on #211
MHTML (or any other format with deduplication support) would be a potential solution to #304 (which happens for web pages with a lot of redundant images in CSS styles).

[2022-09-01 16:59] snshn commented on #294
Providing `-d domain.com` should do it in that PR, but something like `-d 1` or `-d -` could be a good shorthand.  No idea what to do with it for filesystem or file:/// targets, perhaps just discard all remote sources. 🤷🏻‍♂️

[2022-09-01 23:41] snshn commented on #242
Currently in `master`, needs a bit more testing before I'm able to release it as part of 2.7.0.

`-d .google.com` will match subdomains (as well as google.com), `-d google.com` will only match google.com; `-E` is to exclude those domains instead of only allowing those, so e.g.:
[code]

at first it had support for `-d .google.com,google.com` in there as well, but it looks extremely messy and is har

[2022-09-04 08:19] chromer030 opened #317 "macOS release binary ?"

[2022-09-08 11:50] snshn commented on #317
Moin rmoghadam,

Good question... monolith is on Brew, so I never felt the need for binary releases for macOS...

I suppose I could do it for darwin-x86_64 and darwin-arm64, I'll let you know in this thread if it works out or not — signing those binaries is usually the main problem, macOS has a lot of checks in place to prevent execution of downloaded programs

[2022-09-08 12:01] snshn commented on #311
Hi @wankio,

could you elaborate a little more, what do you mean exactly by "extract"?  Are you talking about going into the source of the saved HTML page and copying strings from there?  They are base64 data URLs, some editors highlight them to be clickable.  Also, if you open it in the browser, you should be able to "save image as..." and access embedded assets via inspection tool.

[2022-09-24 06:47] aborruso opened #319 "Not able to full download a webpage"
Hi,
first of all thank you for this great tool.

If I run

[code]

the file output does not contain the table I have in the source web page.

Is there some tips to have also this table in the monolith output? If no, I will continue to use chromium headless for this task.

Thank you again

[2022-10-01 02:52] wankio commented on #311
before, i was using WebScrapBook, and some mht extension that allowed me to download page and save it. I can easily right click on the final file and use 7zip or winrar to extract the content from saved file. With that i can check which files is missing

[2022-10-24 12:47] snshn commented on #211
I would have to make a crate to support saving as MHTML, packing all those assets otherwise would blow up the code base a lot.

[2022-10-24 20:49] Kochise commented on #211
https://github.com/Modified/MHTifier

[2022-10-24 23:11] snshn commented on #211
Thank you.  Those are good examples and I hope to have something ready soon, at least for saving as MHT, converting MHT to HTML later.

[2022-10-25 13:24] Kochise commented on #211
Cool.

Keep in mind that MHTML is "just" a mail in MIME format (HTML). With an embedded "index.html".

https://stackoverflow.com/questions/31250/content-type-for-mht-files -> https://www.rfc-editor.org/rfc/rfc2557
https://datatracker.ietf.org/wg/mhtml/about/ -> https://people.dsv.su.se/~jpalme/ietf/mhtml-info.html
https://www.hunnysoft.com/mime/mime-guide.html -> https://en.wikipedia.org/wiki/Base

[2022-10-30 06:33] amjoseph-nixpkgs opened #320 "Unsupported document media type"
[This check](https://github.com/Y2Z/monolith/blob/7c61b462ddd8f3b0e982a8cba229b1ddf371457f/src/main.rs#L183) is probably too aggressive and definitely lacks any mechanism to override it.

[code]

[2022-11-06 22:27] snshn commented on #320
Good point, if the browser is capable of opening the page, monolith should save it without complaints.  The check will be removed from the next release, thank you for reporting this bug.

[2022-11-10 14:05] snshn commented on #320
The patch is done and is about to get merged into `master`.

The bad news is that Monolith seems to be unable to properly parse and save XHTML documents.
I'll open new issues to address this flaw.

Thank you for reporting this, I know what needs to be done to get it all fixed.

I'll try to make a new release within a couple of hours, that will include this latest fix.

[2022-11-10 14:12] #320 closed

[2022-11-10 14:26] snshn commented on #319
Hi Andrea,

Sorry for the late reply.

This seems to be the usual issue related to JS-driven content (AJAX).  Monolith works more like a downloader (e.g. curl or wget) than a browser, downloading and embedding assets rather than running JS the way browsers do.

This works for me:

[code]

Just Chrome should also work.  Please keep in mind that this will use your Cookies from that browser unless th

[2022-11-10 14:26] #319 closed

[2022-11-10 14:43] aborruso commented on #319
Hi and thank you

I know and I have solved my goal using `google-chrome-stable`, in your own way

Adding to the pipe monolith is really useful.

This is a great idea.

Thank you

[2022-11-10 16:47] snshn opened #324 "XHTML documents get mangled"
html5ever is html5ever, not xml5ever, so it doesn't work too well when the input is non-HTML.
It needs to be addressed and fixed, if the input is XHTML, the output should be, too.

[2022-11-10 16:48] snshn commented on #242
Almost two years later, but this is done.  Please see the latest README.md file for instructions.  2.7.0 is out, should be available via package managers within a day or two.  Thank you for your patience and helping getting this feature in!

[2022-11-10 16:48] #242 closed

[2022-11-10 16:50] snshn commented on #139
Instructions for dealing with JavaScript (including CloudFlare's check) can be found in the latest README.md.

[2022-11-10 16:50] #139 closed

[2022-11-10 16:51] #295 closed

[2022-11-10 23:00] snshn commented on #266
Please let me know if this is still needed.

And meanwhile, found this page full of builds for various architectures and OSes, although can't vouch for how secure that stuff is, I don't use sourceforge: https://sourceforge.net/mirror/monolith/activity/?page=0&limit=100

[2022-11-10 23:05] snshn commented on #298
Monolith takes only one argument, the rest is flags/options... the order is personal preference, and -o is at the end because it's hard to come up with a proper file name without seeing the target URL first.  I'll probably change it to -o "%T.html" and move before the target when automatic filename assignment feature is in place.

Thank you for the feedback!

[2022-11-10 23:05] #298 closed

[2022-11-17 04:44] JokerQyou commented on #266
Sorry I've been off GitHub for some days so did not receive notifications for this thread. I'll test the latest release tonight and provide feedback later.

[2022-11-17 13:02] JokerQyou commented on #266
Ok, ARM binary from the latest release (`2.7.0`) works very well on my testing machine, no more glibc issue now.

[2022-11-25 20:28] snshn commented on #29
@einarpersson glad it's useful!  Currently there's "Dependency: `libssl`" in the README under "From source code" section, please let me know if you think it's sufficient, or if it can be done in a clearer way, that is cross-platform.  Thank you for the feedback!